---
subtitle: Qu'est-ce qu'est l'endométriose ?
title: L'endométriose | Cycliques
og_image: https://cycliques.fr/img/cyclenormal.png
og_description: Cycliques est un site informatif sur l'endométriose, une maladie chronique gynécologique. Le site présente les bénéfices des médecines douces pour aider à la diminution des douleurs ainsi que la mise en place d'Ateliers autour de l'endométriose sur Lyon.
og_twitter_img : https://cycliques.fr/img/twitter-lien.png
excerpt:  Cycliques est un site informatif sur l'endométriose, une maladie chronique gynécologique. Le site présente les bénéfices des médecines douces pour aider à la diminution des douleurs ainsi que la mise en place d'Ateliers autour de l'endométriose sur Lyon.
previous: /pages/savoir/savoir.html
art1: pages/lien-adenomyose.html
art2: pages/lien-bouger.html
---
{% include head.html %}

    {% include nav.html %}
	<div class="container">
		<div class="row">
			<div class="col-sm text-center">
				<div class="entete">
					<div class="line"></div>
					<span class="h2">Le savoir c'est le pouvoir</span>
				</div>
    			<h2 class="title">Qu'est-ce que l'endométriose ?</h2>
			</div>
		</div>

	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<img src="/img/endometriose.png" class="img-fluid" alt="Femme gynécologie endométriose" title="femme gynécologie endométriose">
			</div>
			{% include back.html %}
			<div class="col-sm-12">
				<p>Pour avoir une approche plus complète, voir l’article sur le cycle menstruel.</p>
				<p>L’endométriose est une maladie de l’appareil reproducteur féminim. Il s’agit d’une anomalie du tissu endométrial ou endomètre qui est la muqueuse interne de l’utérus. L’endométriose est définie par la présence de cellules semblables à de l’endomètre hors de la cavité utérine, qu’on appelle lésions ou nodules d’endométriose et endométriomes dans le cas de lésions sur l’ovaire. Pour des raisons que l’on ignore encore chez environ 10% des femmes ces lésions sont présentes sur l’extérieur de l’utérus ou différents organes. Ces nodules d’endométriose sont dans la majorité des cas présents sur l’extérieur de l’utérus, les ovaires, le cul de sac de Douglas, les ligaments utéro sacrés ; mais aussi l’intestin, la vessie, et le péritoine qui est la poche qui contient les viscères abdominales. Il est possible également de retrouver ces lésions moins fréquemment sur le diaphragme, les poumons,…</p>
				<p>Ces lésions vont réagir en fonction des hormones, plus précisément l’œstrogène, et comme l’endomètre qui tapisse l’utérus, vont s’épaissir puis saigner en fin de cycle s’il n’y a pas eu fécondation. Ces saignements vont créer des phénomènes inflammatoires et des adhérences qui vont coller les organes entres eux et empêcher ceux-ci de bouger et fonctionner correctement.</p>
				<p>Certains nodules d’endométriose vont également pouvoir développer leur propre approvisionnement sanguin qui l’aideront à croître et produire localement leur propre œstrogènes [araignée] ce qui maintiendra les lésions actives même sous pilule et ménopause artificielle. Dans certains cas également ces lésions peuvent développer des terminaisons nerveuses ce qui pourraient expliquer la cause des douleurs atroces que peuvent vivre certaines femmes.</p>
				<h3>À quoi corresponde les stades d’endométriose ?</h3>
				<p>L’atteinte d’une patiente par une endométriose est évaluée selon le score AFSR, on parle alors de différentes stades. Ces stades ne rendent pas compte de la manière dont les femmes expérimentent les symptômes et les douleurs, un stade 4 considéré comme sévère pourra être asymptomatique alors qu’un stade 1 considéré comme léger très douloureux et vice versa.</p>
				<p>On peut également parler de lésions superficielles, il s’agit de lésions qui ne pénètrent pas profondément sous la surface des organes tandis que les lésions profondes dépassent 5 mm d’infiltration sous les organes.</p>
				<p>Ces différents stades d’endométriose sont souvent utilisés par les médecins pour établir l’atteinte d’une patiente, voici quelques schémas pour comprendre la classification.</p>
				<ul class="list">
					<li>Stade 1 : 1 à 5 points, Lésions superficielles</li>
					<li>Stade 2 : 5 à 15 points, Lésions superficielles, quelques lésions profondes ou adhérences.</li>
					<li>Stade 3 : 16 à 40 points, Lésions superficielles, probable présence d’endométriome ou de lésions profondes ou des adhérences denses.</li>
					<li>Stade 4 : Plus de 40 points, souvent caractérisé par toutes les lésions décrites ci-dessus avec la présence d’un ou plusieurs endométriomes et des adhésions denses.</li>
				</ul>
				<h3>Quels sont les symptômes de l’Endométriose ?</h3>
				<p>Le symptôme le plus courant est la douleur, elle peut survenir pendant les règles (dysménorrhée) ou pendant les relations sexuelles (dyspareunie). La douleur pelvienne peut également advenir à n’importe quelle période du cycle les douleurs peuvent être constantes ou cycliques, arriver seulement à l’effort. La douleur n’est pas normale quand elle vous provoque des évanouissements ou des vomissements. La douleur n’est pas normale quand elle vous empêche d’aller travailler, de sortir, d’aller en cours et d’effectuer vos activités. La douleur n’est pas forcément ciblée dans pelvis, elle peut par exemple irradier dans la jambe si celle-ci est près du nerf sciatique. Beaucoup d’endométriosiques se retrouvent avec des symptômes intestinaux : constipation, diarrhée, douleurs, douleurs à la selle, sang dans les selles,... Ces symptômes peuvent avoir lieu pendant les règles ou de manière récurrentes pendant le cycle.</p>
				<p>L’endométriose fatigue énormément notamment à cause des douleurs qui peuvent aussi empêcher les patientes de se reposer correctement mais également à cause des phénomènes inflammatoires et des adhérences. Les endométriosiques peuvent ressentir une grande difficulté à effectuer des tâches considérés comme simples. La fatigue est un symptôme très courant et difficile à identifier.</p>
				<p>La maladie peut provoquer des symptômes urinaires tels que des douleurs en urinant ou lorsque leur vessie est pleine La présence d’endométriose sur la vessie ou sur les uretères est plus rare.</p>
				<p>Certaines femmes touchées par la maladie ont des difficultés à tomber enceinte, même s’il ne s’agit pas de toutes les femmes.</p>
				<p>Il existe d’autres symptômes également tels que des règles hémorragiques, des saignements hors des règles,… Pour une liste plus complète, voici l’article du Blog Endonymous Ai-je de l’endométriose ?</p>
			</div>
			{% include back.html %}
		</div>
		{% include articles.html %}
	</div>
    {% include footer.html %}