---
layout: articles
order: 5
subtitle: Tu te sens changeante pendant ton cycle ? C'est normal c'est hormonal.
title: Les phases du cycle, mental et énergie
category: Le savoir c'est le pouvoir
alt_img: Femme lune cycle mentruel hormones mental énergie
title_img: Femme de dos au tatoo
og_image: /img/lune.png
og_twitter_img : https://cycliques.fr/img/twitter-lien.png
previous: /savoir/savoir.html
articles:
  - /controle/meddouces.html
  - /controle/alimentation.html
---
<div class="col-sm-12">
  <p>Comme la <b>Lune</b> qui se dévoile de manière différente, tu te sens évoluer et changer pendant ton cycle. Cela peut être en grande partie expliqué par les <b>changements hormonaux</b> qui vont avoir lieu tout au long du <a href="/savoir/cyclemenstruel.html" class="link">cycle menstruel</a> pour préparer au développement de l’ovocyte à venir puis à la désagrégation de l’endomètre en cas de non-fécondation, ce qui provoquera les règles.</p>
  <p>Cet article est une proposition de <b>mode d’emploi énergétique</b> pour évoluer tranquillement dans ton cycle et te permettre d’identifier tes besoins et tes envies en fonction de la phase de ton <a href="/savoir/cyclemenstruel.html" class="link">cycle menstruel</a>. Ce texte n’est pas à prendre comme une vérité mais plus comme un <b>accompagnement</b> si celui-ci te fait écho. À noter également qu’aucun cycle ne se ressemble et que personne n’a la même sensibilité aux fluctuations hormonales ! Pour finir, les hormones ne font pas tout et le stress ou le contexte psychologique sont importants à prendre en compte.</p>
  <figure class="cycle">
    {% include svg/cycle/nouvellelune.svg %}
    <h3>La nouvelle lune</h3>
  </figure>
  <p>Tout comme la <b>nouvelle Lune</b>, lors de cette phase de ton cycle, tu préfères t’effacer. Bye-bye le trop plein d’interactions sociales, tu choisis plutôt de te retirer chez toi pour cocooner tranquillement sous la couette devant une série Netflix avec un petit chocolat chaud. C’est ta période de <b>règles</b>. Au niveau hormonal, l’œstrogène et la progestérone chutent dans la circulation sanguine. C’est une phase pendant laquelle tu peux ressentir le besoin de <b>repos</b> et de <b>repli</b>, profite de ce temps pour <b>prendre soin de toi</b> et accueillir cette pause pour te ressourcer au <b>calme</b>.</p>
  <figure class="cycle">
    {% include svg/cycle/precroissant.svg %}
    <h3>Le premier quartier</h3>
  </figure>
  <p><b>La lune se dévoile</b> et tu fais de même, c’est une véritable montée en énergie faisant écho à la montée d’œstrogènes entraînant la maturation du follicule dans l’ovaire. Si tu as réussi à bien lâcher prise et te reposer pendant tes menstruations, cette <b>remontée d’énergie</b> ne sera que plus vive ! L’œstrogène est une hormone stimulante. Pendant cette période, tu peux avoir envie de te laisser porter par son énergie et ta <b>créativité</b>. C’est le bon moment pour <b>créer</b>, <b>lancer des projets</b> : tu as de <b>l’inspiration</b> et tout te semble réalisable. Tu as envie de voir du monde et tu te sens plus à l’aise dans tes <b>interactions sociales</b>. Les œstrogènes vont stimuler deux régions du cerveau – l’hippocampe et l’amygdale – impliquées dans la <b>sociabilité</b> et le <b>ressenti émotionnel</b> te permettant de mieux décoder les émotions de ton entourage.</p>
  <figure class="cycle">
    {% include svg/cycle/pleinelune.svg %}
    <h3>La pleine lune</h3>
  </figure>
  <p>Comme la <b>pleine Lune</b>, tu brilles dans la nuit. <b>Pleins projecteurs sur toi</b>, tu te sens ouffisime, extraordinaire, tu veux <b>briller de milles feux</b> et <b>interagir</b> avec bbeaucoup de monde. C’est le moment du pic d’œstrogènes et pendant cette période tu es <b>sociale</b> et bien plus <b>sûre de toi</b>. L’œstrogène a une action sur la synthèse cérébrale de sérotonine, l’hormone du <b>bien-être</b> et de la <b>sérénité</b>. Tu veux <b>partager</b> au monde toutes tes idées folles et créatives. Tu te sens en général <b>plus à l’aise</b> avec ton corps et tu vois moins les petits défauts qui d’habitude te minent autant.</p>
  <figure class="cycle">
    {% include svg/cycle/dercroissant.svg %}
    <h3>Le dernier quartier</h3>
  </figure>
  <p>Le <b>dernier quartier</b> est celui du retrait de la lune. Fini l’effervescence et les envies de gloire, c’est le moment de l’<b>introspection</b>, de se retirer <b>sereinement</b> et de réfléchir plus tranquillement à tes dernières idées. L’hormone dominante est la progestérone, elle a un effet <b>apaisant</b>. C’est le bon moment pour <b>faire le tri</b> et <b>réfléchir</b> plus posément à toutes les idées et créations que tu as eu pendant les deux phases précédentes. Tu peux profiter de cette période plus calme pour faire un <b>bilan</b> sur toi et sur tes envies profondes.</p>
  <p>Il peut s’agir d’une phase qui s’associe à une <b>baisse de moral</b>, un <b>léger spleen</b> surtout en fin de phase et à l’arrivée des règles. Près de 80% des femmes peuvent ressentir des troubles physiques (rétention d’eau, ballonnements, maux de tête, fatigue importante, gonflement des seins…) et psychiques (humeur dépressive, irritabilité,…). Cette baisse de moral est induite par la baisse d’œstrogènes puisque cette hormone a une action sur la synthèse de sérotonine, impliquée dans la gestion des humeurs et associée à l'état de bonheur. Pour 30% des femmes, on parle de <b>syndrome prémenstruel</b> car ces symptômes sont plus sévères et pour 5% d’entre elles, ils induisent un véritable handicap : on parle de <b>dysphorie prémenstruelle</b>.</p>
</div>
<div class="col-sm-10 offset-sm-1 sources">
  <span>Sources</span>
  <ul>
    <li class="list">Cycle féminin et contraceptions naturelles, Audrey Guillermaud, 2019</li>
    <li class="list"><a href="http://www.slate.fr/story/165632/le-cycle-menstruel-influe-sur-le-cerveau-des-femmes">Slate : Le cycle menstruel influe sur le cerveau des femmes</a></li>
    <li class="list"><a href="https://www.marieclaire.fr/les-hormones-feminines-influencent-elles-notre-humeur,1293876.asp">Marie Claire : Les hormones féminine influencent-elles notre humeur ?</a></li>
    <li class="list"><a href="https://www.revmed.ch/RMS/2010/RMS-258/Syndrome-premenstruel-envie-de-sucre-et-serotonine">Revue médicale Suisse, Syndrome prémenstruel, envie de sucre et sérotonine, Rémy C.Martin-Du-Pan, 2010</a></li>
    <li class="list"><a href="https://fr.wikipedia.org/wiki/S%C3%A9rotonine" class="link">Wikipédia Sérotonine</a></li>
  </ul>
</div>