---
subtitle: Des ateliers de rencontres pour les endométriosiques sont organisés sur Lyon.
title: Le savoir c'est le pouvoir | Cycliques
og_image: https://cycliques.fr/img/cycle.png
og_description: Cycliques est un site informatif sur l'endométriose, une maladie chronique gynécologique. Le site présente les bénéfices des médecines douces pour aider à la diminution des douleurs ainsi que la mise en place d'Ateliers autour de l'endométriose sur Lyon.
og_twitter_img : https://cycliques.fr/img/twitter-lien.png
excerpt:  Cycliques est un site informatif sur l'endométriose, une maladie chronique gynécologique. Le site présente les bénéfices des médecines douces pour aider à la diminution des douleurs ainsi que la mise en place d'Ateliers autour de l'endométriose sur Lyon.
---
{% include head.html %}

    {% include nav.html %}
	<div class="container">
		<div class="row">
			<div class="col-sm text-center">
				<div class="entete">
					<div class="line"></div>
					<span class="h2">Le savoir c'est le pouvoir</span>
				</div>
    			<h2 class="title">Articles</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<a href="/savoir/hormones-cycle.html">
					<figure class="liens">
						<img src="/img/cyclenormal.png" class="img-fluid">
						<h3>Comment fonctionne le cycle ?</h3>
					</figure>
				</a>
			</div>
			<div class="col-sm-6">
				<a href="/savoir/hormones-cycle.html">
					<figure class="liens">
						<img src="/img/lune.png" class="img-fluid">
						<h3>Les phases du cycle, une question d'hormones</h3>
					</figure>
				</a>
			</div>
			<div class="col-sm-6">
				<a href="/savoir/endometriose.html">
					<figure class="liens">
						<img src="/img/endometriose.png" class="img-fluid">
						<h3>Qu'est-ce que l'endométriose ?</h3>
					</figure>
				</a>
			</div>
			<div class="col-sm-6">
				<a href="/savoir/adenomyose.html">
					<figure class="liens">
						<img src="/img/adenomyose.png" class="img-fluid">
						<h3>Qu'est-ce que l'adénomyose ?</h3>
					</figure>
				</a>
			</div>
			<div class="col-sm-6">
				<a href="/savoir/adherences.html">
					<figure class="liens">
						<img src="/img/adherences.png" class="img-fluid">
						<h3>Endométriose et adhérences</h3>
					</figure>
				</a>
			</div>
		</div>
	</div>
    {% include footer.html %}