---
---
{% include head.html %}

    {% include nav.html %}
	<div class="container">
		<div class="row">
			<div class="col-sm text-center">
				<div class="entete">
					<div class="line"></div>
					<span class="h2">Atelier</span>
				</div>
    			<h2 class="title">Journée Atelier à lyon</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm">
				<p>Après un diagnostic d’endométriose il est possible de ne pas connaître les démarches à suivre ou de n’avoir personne à qui en parler. Après avoir ouvert un blog BD sur le sujet, j’ai voulu aller plus loin dans la sensibilisation et l’apprentissage de la maladie, c’est ainsi que j’organise des journées ateliers à Lyon pour pouvoir vous rencontrer, discuter, apprendre ensemble à retrouver un peu de bien-être malgré les douleurs du quotidien et petit à petit mieux accepter la maladie.</p>
				<p>Il s’agit d’une journée consacrée à l’endométriose et la gestion des inflammations et des adhérences dues à la maladie. L’atelier est centré autour des médecines douces disponibles pour améliorer le bien-être malgré la maladie et l’apport bénéfique d’une alimentation anti-inflammatoires. L’atelier comprend une table ronde pour pouvoir discuter de vos problèmatiques et de vos parcours, répondre à vos questions puis la venue de plusieurs profesionnels de médecine douces qui vous montreront des autos-massages, des exercices d’étirements, du yoga, la venue d’une diéteticienne pour parler de l’alimentation anti-inflammatoire, ainsi qu’un moment de détente et de méditation. Une possibilité aussi pour vous de rencontrer des professionnels bienveillants si vous avez besoin d’un suivi plus approfondis.</p>
				<div class="strong">
					<span>L’atelier s’adresse aux personnes atteintes d’une endométriose.</span>
				</div>
				<p>Attention, les conseils qui te seront donnés par les profesionnels lors de cet atelier seront orientés envers les personnes atteintes d’endométriose et peuvent ne pas convenir à toutes les pathologies. Je t’encourage à aller voir un professionnel de santé pour toute question en rapport avec le diagnostic ou la maladie. La section <a href="/contact.html" class="link">contact</a> est ouverte si tu as des questions à propos de l’atelier. Je te conseille également d’aller lire cet article sur l’utilité de faire un <a href="" class="link">journal d‘observation</a>.</p>
				<p>Si tu n’habites pas à Lyon mais que tu souhaiterais qu’un atelier ait lieu dans ta ville, n’hésites pas à aller dans la section <a href="/contact.html" class="link">contact</a> pour me faire part de tes envies et de ta localisation. Tu peux aussi me retrouver sur les réseaux sociaux : Insta, FB, Twitter.</p>
				<h3>Programme</h3>
					<div class="text-center">
						<div class="bloc">
							<img src="/img/atelier/kine.png">
							<h4>Auto-Massages</h4>
							<p>Ceci est un paragraphe sur les auto-massages.</p>
							<span>intervenant</span>
							<p>Clément Berini</p>
						</div>
						<div class="bloc">
							<img src="/img/atelier/alimentation.png">
							<h4>Alimentation</h4>
							<p>Ceci est un paragraphe sur l'alimentation.</p>
							<span>intervenant</span>
						</div>
						<div class="bloc">
							<img src="/img/atelier/yoga.png">
							<h4>Yoga</h4>
							<p>Ceci est un paragraphe sur le yoga.</p>
							<span>intervenant</span>
						</div>
						<div class="bloc">
							<img src="/img/atelier/shiatsu.png">
							<h4>Shia-tsu</h4>
							<p>Ceci est un paragraphe sur le shia-tsu.</p>
							<span>intervenant</span>
						</div>
						<div class="bloc">
							<img src="/img/atelier/meditation.png">
							<h4>Méditation</h4>
							<p>Ceci est un paragraphe sur la méditation.</p>
							<span>intervenant</span>
						</div>
					</div>

				<h3>Prix</h3>
					<div class="bg">
						<div class="text-upp">
							<p class="sobig">130€</p>
							<p>pour la journée</p>
						</div>
					</div>
				<h3>Date et lieu</h3>
					<div class="bg violet">
						<div class="col-sm-8 offset-sm-2 txt padding2">
							{% include preinscription.html %}
						</div>
					</div>
			</div>
		</div>
	</div>
    {% include footer.html %}