---

---

$bleu: #314671;
$rouge: #FF5A5F;
$jaune: #F8C630;
$bleu-clair: #ACBED8;
$font:#1D1D1D;
$body-font:'Maax',sans-serif;
$title-font:'Dinomik',cursive;

html{
	scroll-behavior: smooth;
}
body{
	color: $font;
	font-family: $body-font;
	line-height: 1em;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	*::selection{
	 	background-color : $bleu-clair;
	}
}

.container{
	max-width: 950px;
	width: 100%;
	align-items: center;
}

.column, .container{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.row-center{
	justify-content: center;
	gap: 20px;
}

.img-fluid{
	width: 100%;
}

h1,h2,h3,h4,h5{
	color:black;
	text-align: center;
	font-family: $title-font;
	line-height: 1em;
	font-weight: bold;
}
span.h2{
	font-size: 0.8em;
	background-color: #fff;
}
h2{
	color: $bleu;
	font-size: 2em;
}
h2:after, h2:before{
	content: url('assets/images/svg/h2.svg');
	display: block;
	margin: 0 auto;
	width: 173px;
}

h3{
	color: $bleu-clair;
	font-size: 1.8em;
	margin-bottom: 0.5em;
	&:after{
		content: url('assets/images/svg/h3.svg');
		display: block;
		margin: 0 auto;
		width: 173px;
	}
}

h4{
	color: $jaune;
	font-size: 1.3em;
	margin: 0.6em 0;
}

h4:not(.h4-link):after{
	content: url('assets/images/svg/h4.svg');
	display: block;
	margin: 0 auto;
	width: 173px;
}

h5:not(.title-book){
	font-size: 1.3em;
	color: $bleu;
	margin: 0.5em 0;
	&:after{
		content: url('assets/images/svg/h5.svg');
		display: block;
		width: 110px;
		margin: 0 auto;
	}
}

p{
	line-height: 1.4em;
	font-size: 1.3em;
}

p.dinomik{
	font-family: $title-font;
	font-weight: normal;
	color: $bleu;
}
.rouge{color: $rouge;}

a{
	text-decoration: none;
	color: black;
	font-family: $title-font;
	&:not([class]){
		background:
			linear-gradient(
			to bottom, $jaune 0%,
			$jaune 100%
		);
		background-position: 0 100%;
		background-repeat: repeat-x;
		background-size: 4px 4px;
		padding:0.2em 0;
		transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
		&:hover{
			background-size: 4px 50px;
			color: white;
		}
	}
	&:focus-visible{
		outline: none;
	}
}

nav{
	display: flex;
	justify-content:space-evenly;
	align-items: center;
	align-self: center;
	flex-grow:1;
	font-size: 1em;
	text-transform: uppercase;
	font-family: $title-font;
	color: $bleu;
	letter-spacing:0.15em;
	text-decoration: none;
	gap: 10px;
}

nav a{
	text-decoration: none;
	color: $bleu;
	font-weight: 500;
	padding:0.5em 0.2em;
	background:
     linear-gradient(
       to bottom, #fff 0%,
       #fff 100%
     );
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
	&:focus-visible{
		outline: none;
	}
}

.active{
	text-decoration: none;
	background:
		linear-gradient(
		to bottom, $bleu 0%,
		$bleu 100%
	);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	padding:0.5em 0;
}

nav a:hover:not(.logo), nav a:focus:not(.logo){
	color: #fff;
	background:
     linear-gradient(
       to bottom, $jaune 0%,
       $jaune 100%
     );
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 50px;
}

nav a.logo:hover, nav a.logo:focus{
	transform: translateY(-5px) scale(1.05);
}

.options-bd{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 10px;
	height: 400px;
}

.entete{
	margin: 0 auto;
	position:relative;
	text-align: center;
	font-family: $title-font;
	h2{
		margin: 0;
	}
	span.h2{
		z-index: 0;
		padding: 0 1em;
		color: $jaune;
		font-size: 1em;
		&:before, &:after{
			content: '○';
			padding: 0 0.5em;
		}
	}
}

.articles{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	a.index-articles{
		flex: 50%;
		min-width: 350px;
		justify-content: center;
		min-width: 475px;
	}
	a.lien-article{
		max-width: 475px;
		height: 350px;
		align-self: center;
		img{width: 100%;}
	}
	figure{
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 350px;
		img{
			position: absolute;
			max-width: 470px;
			width: 100%;
		}
		figcaption{
			top: 90px;
			overflow: hidden;
			&.bleu{
				border: solid 4px $bleu;
				background:
					linear-gradient(
					to top, $bleu 0%,
					$bleu 100%
				);
				background-size: 1px 1px;
				background-position: 0 100%;
				background-repeat: repeat-x;
				background-color: white;
			}
			&.jaune{
				border: solid 4px $jaune;
				background:
					linear-gradient(
					to top, $jaune 0%,
					$jaune 100%
				);
				background-size: 1px 1px;
				background-position: 0 100%;
				background-repeat: repeat-x;
				background-color: white;
			}
			transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
			&:before{
				content: 'Lire';
				font-family: $title-font;
				position: relative;
				top: -20px;
				text-align: center;
				display: flex;
				justify-content: center;
				font-size: 1.5em;
				font-weight: bold;
				color: white;
				transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
			}
		}
		figcaption,h4{
			position: relative;
			width: 400px;
			min-height: 60px;
		}
		h4{
			font-size: 1.5em;
			color: $bleu;
			padding: 0.2em 0.3em;
			margin: 0;
			top: 0;
			transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
		}
	}
	a:hover{
		h4{
			transform: translateY(100px);
		}
		figcaption.bleu, figcaption.jaune{
			background-size: 4px 100%;
			transform: scale(1.05);
		}
		figcaption:before{
			transform: translateY(50px);
		}
	}
}


a.livres{
	margin: 1em 0;
	color: $bleu;
	h5.title-book{
		font-size: 1.5em;
		text-align: left;
		margin: 0;
		color: $bleu;
		height: 25px;
		background:
			linear-gradient(
			to left, $rouge 0%,
			$rouge 100%
		);
		background-repeat: repeat-y;
		background-size: 8px 32px;
		padding: 0 20px;
		transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s;
		&:after{
			content: '';
			width: 8px;
			height: 25px;
			background-color: $rouge;
			display: block;
			position: relative;
			top: -24px;
			left: calc(100% + 20px);
			transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s;
		}
		&:hover{
			background-size: calc(100% + 20px) 32px;
			color: white;
		}
	}
	span{
		font-family: $body-font;
		padding: 0 20px;
	}
}

.popover{
	display: block;
	width: 400px;
	background-color: white;
	padding: 1em;
	line-height: 1.2em;
	border: 4px solid $bleu;
}
.pop, a:not([href]){
	text-decoration: underline dotted;
	color: black;
}

.presentation{
	gap: 20px;
	align-items: center;
	justify-content: center;
	img{
		flex: 1;
		max-width: 350px;
		max-height: 320px;
	}
	div{
		flex: 2;
		min-width: 400px;
	}
}

a.button, input.button{
	cursor: pointer;
	text-align: center;
	font-family: $title-font;
	margin-top: 1em;
	padding:0.5em 1em;
	font-weight: 500;
	font-size: 1em;
	&.btn-rouge{
		border: 4px solid $rouge;
		color: $rouge;
		background:
			linear-gradient(
		       to left, $rouge 0%,
		       $rouge 100%
		     );
		background-repeat: repeat-y;
		background-size: 1px 32px;
		transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
		&:hover{
			color: #fff;
			background:
				linear-gradient(
			       to left, $rouge 0%,
			       $rouge 100%
			     );
			background-repeat: repeat-y;
			background-size: 105% 32px;
			transform: scale(1.05);
		}
	}
}

.share{
	width: 500px;
	div{
		align-self: center;
	}
	a.rs-link img{width: 53px;}
	a.rs-share img{width: 63px;}
	a.rs-link:hover, a.rs-share{
		img{transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s;}
		&:hover{
			img{transform: translateY(-5px) scale(1.05);}
		}
	}
	img{width: 200px;}
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	min-height: 70px;
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;
	font-family: $title-font;
	font-size: 1.1em;
	letter-spacing: 0.2em;
	p{
		color: $jaune;
		font-size: 1em;
		margin: 0;
	}
	div{
		display: flex;
		width: 70%;
		justify-content: space-around;
		a{
			color: $bleu;
			margin: 0.5em 0;
			transition: all ease-out 0.5s;
		}
	}
}

.back{
	a{
		transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
		transform: scale(1.0);
		width: auto;
		display: block;
		&:hover{
			transform: scale(1.1);
		}
	}
}

.definition{
	display: flex;
	flex-direction: row;
	justify-content: center;
	p{
		width: 70%;
		padding:2em;
		color: $bleu;
		font-size: 1.3em;
		font-family: $title-font;
		line-height: 1.5em;
	}
	img{width: 20%;}
}

.content-article{
	p:first-of-type{
		font-size: 1.4em;
		color: $bleu;
		line-height: 1.5em;
		font-family: $title-font;
	}
	p{
		text-align: left;
		width: 100%;
	}
	.footnotes {
		width: 100%;
		ol li{
			font-weight: 500;
			display: flex;
			margin-bottom: 0;
			font-size: 0.8em;
			p{
				margin: 0 0 0.5em 0;
			}
			&::before {
				content: counter(li);
				color: $rouge;
				font-family: $title-font;
				font-weight: 500;
				font-size: 1.5em;
	  		display: inline-block;
	  		width: 1em;
	  		margin-left: -1em;
	  		position: relative;
	  		top: 7px;
	  		left: -10px;
	  	}
		}
	}
	ul.list-center{
		font-family: $title-font;
		color: $bleu;
		list-style: none;
		font-weight: 500;
		text-align: center;
		padding-left: 0;
	}
	ol{
		li{
			font-size: 1.2em;
			line-height: 1.2em;
			margin-bottom: 0.8em;
			list-style: none;
			counter-increment: li;
			&::before {
				content: counter(li);
				color: $rouge;
				font-family: $title-font;
				font-weight: 500;
				font-size: 1.2em;
	  		display: inline-block;
	  		width: 1em;
	  		margin-left: -1em;
	  		}
		}
	}
	ul{
		text-align: left;
		width: 100%;
		list-style: square;
		li{
			font-size: 1.3em;
			line-height: 1.5em;
		}
	}
	img.row-image{
		flex: 1;
	}
}

form.contact{
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 15px;
	width: 100%;
	.form-group{
		display: flex;
		flex-direction: column;
		width: 80%;
	}
	.form-control:focus-visible{
		outline: 1px solid $bleu-clair;
	}
  input[type="email"], textarea{
		border-radius: 2px;
		border: none;
		box-shadow: 2px 2px 3px #eee;
		border: 2px solid $bleu-clair;
	}
	input[type="email"]{
		min-width: 400px;
		min-height: 40px;
		font-family: $title-font;
		font-size: 1.2em;
  }
  textarea{
		height: 300px;
		font-family: $body-font;
		font-size: 1em;
  }
  .info{
		font-family: $title-font;
		font-size: 1.5em;
		line-height: 1.2em;
		text-align: center;
	}
	.error{
		color: $rouge;
		opacity: 0;
		transform: scale(0.2);
		&:before, &:after{
			content: url('assets/images/svg/fail.svg');
			display: inline-block;
			width: 30px;
		}
	}
	.success{
		color: $bleu-clair;
		opacity: 0;
		transform: scale(0.2);
		&:before, &:after{
			content: url('assets/images/svg/send.svg');
			display: inline-block;
			width: 30px;
		}
	}
}

.index-bibliography{
	width: 100%;
	display: flex;
	flex-direction: column;
}

/**/

.baseline{
  text-align: center;
  line-height: 1.2em;
  color: #5D5D5D;
  letter-spacing: 0;
  p{
  font-family: $title-font;
  font-size: 1.9em;
  padding: 0;
  margin:0;
  line-height: 0.8em;
  }
  span{
    font-size: 1em;
    line-height: 0.8em;
    font-family: $title-font;
  }
  p.endo{
    font-size: 1.9em;
    transform: rotate(-5deg);
    border-bottom: none;
    font-family: $title-font;
    font-weight: bold;
    text-transform: lowercase;
    color: #E2BD81;
  }
}

.bd-image{
	max-width: 700px;
}

.titre-bd, .bd{
	margin-top: 1em;
	p, h4{
		margin:0;
		line-height: 1em;
		font-family: $title-font;
		letter-spacing: 0;
		color: black;
		&.big{
			font-size: 1.8em;
		}
	}
}

.images-uniformes img{width: 100%;}
.widget{margin: 0 auto;}

.grid{display: grid;align-self: center;}
.landing{
/*	background: right / contain no-repeat url("../assets/images/accueil-endobujo.svg"),
            left /  contain no-repeat black url("../assets/images/accueil-endobujo2.svg");
   	background-size:cover;
	height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	.decal{
		flex: 0 0 0;
  		animation: blockdecal 1.2s cubic-bezier(0,1,.65,1) 0.5s forwards;
		}
	.intern{display: flex;flex-direction: row;}
	.text-accueil{
		opacity: 0;
  		animation: opacity 1s cubic-bezier(0,1,.65,1) 1.2s forwards;
		.text-upp{
			margin: 0 auto;
			color: #fff;
			display: grid;
			align-content: center;
			.big{font-size: 2em;}
		}
	}*/
	display: none;
	.text-accueil{display: none;}
	.intern{display: none;}
}

.lien-bd-index{
	display: flex;
	flex-direction: column;
	flex: 10%;
	height: 400px;
	background-color: black;
	border-radius: 50px;
	overflow: hidden;
	text-decoration: none;
	background:var(--optionBackground, var(--defaultBackground, #E6E9ED));
	background-size:auto 120%;
	background-position:center;
	transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
	.number{
		background-color: white;
		display:flex;
		flex-direction:row;
		justify-content:center;
		align-items:center;
		position: relative;
		bottom: 15px;
		left: 50%;
  	transform: translate(-50%);
		min-width:40px;
		max-width:40px;
		height:40px;
		border-radius:100%;
	}
	.number p{
		font-family: $title-font;
		transform: translateY(25%);
	}
	&:hover{
		flex: 40%;
		border-radius: 0;
		.label {
			.info >div {
			  opacity:1;
			}
		}
	}
	.label {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
		.info >div {
		  left:20px;
		  opacity:0;
		}
	}
}

.logo{
	a{text-align: center;}
	display: flex;
	flex-direction: column;
	justify-content: center;
	img{max-width: 380px;margin: 0 auto;}
}

.white svg{fill: #fff;}

.scroll{display: flex;flex-direction:column;justify-content: center;}
.strong{
	margin: 1.5em 0;
	text-align: center;
	span{
		font-family: $title-font;
		font-size: 1.2em;
		background-color: black;
		color: #fff;
		padding: 0 2em;
		line-height: 1.5em;
		}
}

.bg{
	font-family: $title-font;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.2em;
	margin-bottom: 1em;
	.text-upp{
		margin: 0.5em 0;
		&.first{color: black;margin-top: 1em;}
		p{
		line-height: 1.1em;
		font-size: 1.2em;
		margin: 0;
		font-weight: 400;
		&.big{
			font-weight: 500;
			font-size: 1.5em;
			margin-top: 0.5em;
			}
		&.sobig{font-size: 2em;font-weight: 500; color: black;}
		}
	}
}


.round{
	border-radius: 50%;
	width: 300px;
	height: 300px;
	p{
		text-align: center;
	}
}

.profil{
	img{width: 80%;}
	p{font-size: 1em;line-height: 1.6em;}
}

.padding0{padding: 0;}
.padding2{padding: 2em;}
.margin-bottom{margin-bottom: 1em;}

.index-articles{
	display: flex;
	flex-direction: row;
	align-items: center;
	h4{font-size: 1.2em;}
} 

a.lien-bd{
	text-decoration: none;
	h4{margin-top: 1em;font-size: 1.3em;color: $font;}
	.bd figcaption{
		cursor: pointer;
		display: inline-flex;
		justify-content: center;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		margin-top: 1em;
		padding:0.5em 1em;
		font-weight: 300;
		font-family: $title-font;
		position:absolute;
		border: 2px solid $font;
		color: $font;
		background-color: white;
		font-weight: bold;
		letter-spacing: 0.1em;
		transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
		&.version-a{
			top: 30%;
			left: 37%;
		}
		&.version-b{
			top: 35%;
			left: 39%;
			font-size: 1.3em;
		}
	}
	&:hover, &:focus, &:focus-within{
		.bd h4{color: black;}
		.bd figcaption{
			text-shadow: none;
			text-decoration: none;
			border:none;
			padding:0.5em 1.5em;
			font-weight: bold;
			background:
				linear-gradient(
			       to bottom, black 0%,
			       black 100%
			     );
				&.version-a{
					left: 35%;
				}
				&.version-b{
					left: 37%;
				}
			}
		}
}

p > a.link{
	color:black;
	font-weight: 300;
	text-decoration: none;
	padding:0.2em 0.2em;
	background:
     linear-gradient(
       to bottom, black 0%,
       black 100%
     );
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

p > a.link:hover,
p > a.link:focus {
   color: #fff;
   background-size: 4px 50px;
   font-weight: 300;
}

figure.schema{
	text-align: center;
	img{
		width: 60%;
	}
}

.reseaux li svg{
	width: 50px;
	height: 50px;
	padding:0.2em;
	transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	&:hover{
		transform: scale(1.05);
	}
}

.bloc{
	margin: 3em 0;
	text-align: center;
	span{
		font-size: 1.2em;
		color: black;
		font-family: $title-font;
		font-weight: 500;
		letter-spacing: 0.2em;
	}
}

/*Articles*/

.comic-font h4{font-family: $title-font;letter-spacing: 0;}
.liens-bd-mini{
	text-decoration: none;
}
.previous-bd{
	 align-items: center;
	 margin-bottom: 1em;
	img{
		width: 71px;
		height: 71px;
	}
	div{margin: 0 0 0 1em;}
	h4{
		margin: 0;
		padding:0;
		font-family: $title-font;
		letter-spacing: 0;
		text-align: left;
	}
	span{margin: 0;}
	&:hover{
		h4{color: black;}
	}
}

a.next-bd-hover{
	&:hover{
		figcaption{
			padding: 0.5em 1.5em;
			left: 40%;
			border: none;
			background:
				linear-gradient(
			       to bottom, black 0%,
			       black 100%
			     );
		}
	}
}
a.next-bd-hover{text-decoration: none;}
.next-bd{
	text-align: center;
	border-radius:25px;
	background-color: black;
	margin-bottom: 1em;
	img{border-top-right-radius: 25px; border-top-left-radius: 25px;}
	.resum{font-weight: 300;padding: 1em;}
	figcaption{
		font-size: 1.4em;
		position:absolute;
		color: white;
		top: 35%;
		left: 42%;
		border: 2px solid white;
		padding: 0.5em 1em;
		text-transform: uppercase;
		font-family: $title-font;
		background-color:black;
		transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
	}
	p, h4, a{
		color: white;
		line-height: 1em;
		text-align: center;
	}
	h4{font-family: $title-font;margin: 0.5em 0 0 0;letter-spacing: 0;}
}

.bg-cute{
	min-height: 200px;
	display: block;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-size: cover;
	background-image: url('/assets/roman-graphique/background-endonymous.png');
	.profil{
		background-color:white;
		width: 60%;
		margin: 0 auto;
		padding: 0.1em 0.5em;
		h5{font-family: $title-font; text-align: center;margin: 0.2em;}
	}
}

blockquote{
	background-color: black;
	border-radius: 10px;
	margin: 3em 0;
}
blockquote p{
	margin: 0 auto;
	padding:1em 0 3em 0;
	color:#fff;
	width: 90%;
	font-family: $title-font;
	line-height: 2.1em;
}

blockquote:before{
	content: '«';
	font-size:9em;
	font-family: $title-font;
	font-weight: 900;
	color: #fff;
	height: auto;
}

blockquote:after{
	content: '»';
	font-size:9em;
	font-family: $title-font;
	font-weight: 900;
	color: #fff;
	float: right;
	bottom:30px;
	position:relative;
}

.cycle p{
	font-size: 1.1em;
	color: black;
	font-family: $title-font;
	font-weight: 400;
}

.biblio-next a{
	display: inline-flex;
	flex-direction: row;
	width: 100%;
	min-height: 110px;
	align-items:center;
	h4{text-align: left;font-size: 1.3em;transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; margin: 0;}
	img{width: 100px;transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;}
	p{
		font-size: 1em;
		color: $font;
		font-family: $body-font;
		text-transform: none;
		text-align: left;
		margin:0;
		}
}

.biblio-next a:hover h4{
	text-decoration: underline;
	text-decoration-color: #82618F;
	color: #82618F;
}

.biblio-next a:hover img{width: 110px;}

.interview{
	display: flex;
	flex-direction: row;
	align-content:center;
	background-color:black;
	border-radius:15px;
	text-align: center;
	h4{
		color: #fff;
		letter-spacing: 0.25em;
		font-size: 1.7em;
		transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
	}
	p{
	color:#fff;
	font-weight: 500;
	font-family: $title-font;
	line-height: 1.5em;
	letter-spacing: 0.2em;
	font-size: 1.2em;
	padding:1em;
	}
	p:before{
	content: '«';
	font-size:1.5em;
	font-family: $title-font;
	font-weight: 500;
	color: #fff;
	padding-right:0.4em;
	}
	p:after{
		content: '»';
		font-size:1.5em;
		font-family: $title-font;
		font-weight: 500;
		color: #fff;
		position:relative;
		padding-right:0.4em;
	}
	.resum{font-size: 1em;letter-spacing: 0.08em;}
	.resum:before,.resum:after{display: none;}
}

a .interview:hover{
	.plante-left{left:-60px;}
	.plante-right{right:-60px;}
	}

.plante-left{
	position: absolute;
	bottom:0;
	left: -55px;
	transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.plante-right{
	position: absolute;
	bottom:0;
	right: -55px;
	transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.q{
	color:black;
	font-weight: 500;
	font-family: $title-font;
	line-height: 1.8em;
	letter-spacing: 0.1em;
	font-size: 1.4em;
	margin: 2em 0 0.7em 0;
}

.list{
	padding: 0.3em;
	ul li{
		list-style: none;
		line-height: 2em;
	}
	h5{color: #fff; text-align: center; text-decoration: underline;margin-top: 1em;}
}

.list-style ul li{
	list-style: circle;
	list-style-position: inside;
	padding-left:3em;
}


.id{width: 200px; display:flex;margin: 0 auto;}
.endobujo{
	background: no-repeat url('../assets/images/endobujo/fond-endobujo.png');
	.appear{
		margin: 0 auto;
		visibility: hidden;
  		animation: imgappear 0.8s cubic-bezier(0,1,.65,1) 0.8s forwards;
	}
}

.presse{
	div div{
		display: flex;
		flex-direction: column;
		p{font-family:'Noto Sans JP',sans-serif;font-weight: 500;}
		.horizon{display: flex;flex-direction: row;}
	}
	.header{
		text-align: center;
		padding: 1em;
		justify-content: center;
		align-items:center;
		img{max-width: 220px;margin-top: 1em;}
		h1{
			font-size: 2.5em;
			margin-top: 0.5em;
			&:after{display: none;}
		}
		p.h1, span{
			font-size: 1.8em;
			margin-top: 0;
			text-transform: normal;
		}
	}
	img.bujo{
		max-width: 100%;
		margin: 0 auto;
	}
	.h2-presse{
		background-color:#fff;
		padding:1em;
		font-size: 1.4em;
		margin: 0;
		text-align: left;
		line-height: 1.6em;
		&:after{content:none;}
	}
	.beauty{
		background-color:black;
		z-index:2;
		margin-bottom: 2em;
		&:after{
			content: url('/assets/images/endobujo/sticker.svg');
			position:absolute;
			width: 150px;
			right: 0;
			bottom:-4em;
			z-index: -2;
		}
		p.chapo{
		padding:0.8em;font-size:1.3em;color:black; font-weight: 700;line-height: 2em;
		}
	}
	
	h5{text-align: center;}
}

.kit-media{
	div{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		&.violet{
			a>p{color: white;}
		}
		img{max-width:200px;margin-bottom: 1em;}
		.txt{
			margin: 1em;
			a.button{margin-top: 0;}
		}
	}
}

div.deco{display: flex;flex-direction:row;justify-content:center;align-items:center;img{width: 150px;}}
.deco-mini{text-align:center;img{width: 50px;}}

.dico{
	column-count: 2;
	text-align: center;
	a{
		display:block;
		margin-bottom: 2em;
		font-family: $title-font;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		font-weight: 500;
		text-decoration:none;
		padding:0.3em 2em 0.3em 0.1em;
		transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
		color: black;
		&::first-letter{
			font-size: 1.5em;
		}
		&:hover{background-color: black;}
	}
}

a.font-bd{font-family: $title-font;font-weight: bold;}

.dico-next{
	display: block;
	columns: 3;
	margin-top: 1em;
	a{
		text-decoration: none;
		h4{
			display: block;
			font-size: 1em;
			text-decoration: none;
			&:hover{background-color: black;}
		}
	}
}

.bd-inside{
	display: flex;
	flex-direction: column;
	align-items: center;
	img{
		width: 70%;
		margin: 2.5em 0;
	}
	p{
		font-family: $title-font;
		text-align: center;
		color: black;
		width: 70%;
		font-size: 1.8em;
		line-height: 1.2em;
		margin-top: 1em;
	}
}

@keyframes imgappear{
	0%    {width:90%; visibility: hidden;}
	100%  {width:100%; visibility: visible;}
}

@keyframes blockdecal{
	0% {flex: 0 0 0;}
	100%{flex: 0 0 50%;}
}

@keyframes opacity{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@media screen and (min-width: 575px) {
	.deco-mini{display: none;}
}

@media screen and (max-width: 1200px) {
	.navbar-expand-lg .navbar-nav{font-size: 0.8em;}
}

@media screen and (max-width: 1700px) {
	.landing{}
}

@media screen and (max-width: 991px){
	.landing .text-accueil{
		background-color:black;
	}
	.box{align-self: auto;}
	.clair{order: 3;}
	.violet.padding0{
		order: 2;
		img{max-height: 300px; position: absolute;bottom: 0;left: 0;}
	}
	
	.interview{p{padding:0.2em;&:before,&:after{font-size: 1em;}}}
	.plante-left, .plante-right{display: none;}
	footer{margin:0;}
	.navbar-light .navbar-nav .nav-link,{margin-bottom: 0;}
	@keyframes blockdecal{
		0% {flex: 0 0 0;}
		100%{flex: 0 0 100%;}
	}
}

@media screen and (max-width: 974px) {
  .presse .h2-presse{margin-bottom: 3em;}
}

@media screen and (max-width: 800px) {
  .txt{padding-right: 0.5em;}
	.bg{
	  .text-upp{
			p{
			line-height: 1em;
			font-size: 0.9em;
			&.big{font-size: 1.2em;}
			}}
		}
	.dico{columns: 1;}
	.dico-next{columns: 1;}
	form{width:300px;}
  footer{div{flex-direction: column;}}
}

@media screen and (min-width: 575px) and (max-width: 777px) {
	.interview{
		h4{font-size: 1.2em; margin-bottom: 0.5em;}
		p,.resum{font-size: 0.9em;}
		.resum{margin: 0;}
	}
}

@media screen and (max-width: 575px) {
	.violet.padding0 img{display: none;}
	.landing .decal img{display: none;}
	.txt{padding: 1em;}
	.white{display: none;}
	.interview{h4{font-size: 1.1em;}p{font-size: 1em;letter-spacing:0.2em;&:before,&:after{font-size: 1em;}}}
	.back{font-size: 0.8em;}
	.q{margin-top: 1em;}
	h2{font-size: 1.5em;}
	h3, .bg .text-upp p.sobig{font-size: 1.3em;}
	h4{font-size: 1.1em;}
	a > div.interview{text-decoration: none;}
	.interview{
		background-color:#fff;
		img{width: 200px;}
		p{margin: 0 auto; color: black; &:before, &:after{color: black;}} h4{color: black;}}
		.resum{font-size:0.9em;}
	.deco-mini{display: block;}
	.bd-inside{
		img{width: 100%;margin: 2em 0;}
		p{width: 95%; font-size: 1.4em;}
		}
	.bg-cute .profil{
		width: 90%;
		}
	}