---
---

$violet: #321346;
$violetclair: #F9F0FF;
$font:#626262;

html{scroll-behavior: smooth;}
body{
	color: $font;
	font-family: 'PT serif', serif;
	line-height: 1em;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	p{line-height: 1.8em;}
}

a:hover{text-decoration: none;}

.landing{
	background-color: $violet;
	height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	img{
		width: 50%;}
}

/*.scroll{scroll-snap-align: center;scroll-snap-type: y proximity;scroll-behavior: smooth;}*/

h1,h2,h3,h4, span.h2{color:$violet;margin-top:2em;text-align: center;font-family: 'Exo', serif; letter-spacing: 0.15em; text-transform: uppercase;}
.entete{
	background-color: $violet;
	height: 1px;
	margin: 0 auto;
	width: 575px;
}

h2.title{margin-top: 0.2em;}
h4{margin-top: 0.5em;}

.logo{
	display: flex;
	justify-content: center;
	margin: 1em 0;
	svg{max-width: 220px;}
}

.white svg{fill: #fff;}

.box{max-width: 1300px;margin: 0 auto;}

.container{
	max-width: 950px;
}

.navbar-expand-lg .navbar-nav{
	justify-content:space-evenly;
	flex-grow:1;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
	text-transform: uppercase;
	font-family: 'Exo', sans-serif;
	margin-right: 0.2em;
	color: $violet;
	letter-spacing:0.15em;
	margin-bottom: 3em;
}

.nav-item, footer a{
	text-decoration: none;
	padding:0.5em 0.2em;
	background:
     linear-gradient(
       to bottom, #fff 0%,
       #fff 100%
     );
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.active{
	text-decoration: none;
	padding:0.2em 0.2em;
	background:
		linear-gradient(
		to bottom, $violet 0%,
		$violet 100%
	);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	padding:0.5em 0;
}

.nav-item:hover, .nav-item:focus, footer a:hover, footer a:focus,
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	color: #fff;
	text-decoration: none;
	background:
     linear-gradient(
       to bottom, $violet 0%,
       $violet 100%
     );
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 50px;
}

span.h2{
	font-size: 0.8em;
	background-color: #fff;
}
h2:after{
	content: url('img/h2.svg');
	display: block;
	margin: 0 auto;
	width: 602px;
}

h3{font-size: 1.6em;}
h3:after{
	content: url('img/h3.svg');
	display: block;
	margin: 0 auto;
	width: 100px;
}
p{line-height: 1.8em;font-size: 1.1em;}
.strong{
	margin: 1.5em 0;
	text-align: center;
	span{
		font-family: 'Exo', sans-serif;
		font-size: 1.2em;
		background-color: $violet;
		color: #fff;
		padding: 0 2em;
		}
}

.bg{
	font-family: 'Exo', sans-serif;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.2em;
	align-items: center;
	.txt{display: grid;align-self: center;}
	.padding{padding: 2em;}
	.text-upp{
		display: grid;
		align-content: center;
		margin: 0.5em 0;
		p{
		line-height: 1.1em;
		font-size: 1.2em;
		margin: 0;
		font-weight: 400;
		&.big{
			font-weight: 500;
			font-size: 1.5em;
			}
		&.sobig{font-size: 2em;font-weight: 500; color: $violet;}
		}
	}	
}

.violet{
	background-color: $violet;
	color: #fff;
}

.clair{
	background-color: $violetclair;
	margin-top: 2em;
	color: $violet;
	img{max-height: 150px; padding: 0 2em;}
}

a.button, button{
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	width: max-content;
	justify-self:center;
	margin-top: 1em;
	padding:0.5em 1em;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	&:hover{
		text-shadow: none;
		text-decoration: none;
		padding:0.5em 1.5em;
	}
	&.dark{
		border: 2px solid $violet;
		color: $violet;
		&:hover{
			color: #fff !important;
			background:
				linear-gradient(
			       to bottom, $violet 0%,
			       $violet 100%
			     );
		}
	}
	&.light{
		border: 2px solid #fff;
		color: #fff;
		&:hover{
			color: $violet !important;
			background:
				linear-gradient(
			       to bottom, #fff 0%,
			       #fff 100%
			     );
			}
	}
}

p > a.link{
	color:$violet;
	text-decoration: none;
	padding:0.2em 0.2em;
	background:
     linear-gradient(
       to bottom, $violet 0%,
       $violet 100%
     );
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

p > a.link:hover,
p > a.link:focus {
   color: #fff;
   background-size: 4px 50px;
}

ul{
	list-style: none;
	li{
		line-height: 1em;
		font-size: 1.1em;
		margin: 1em 0;	
		&:before{
			display: inline-block;width: 1em;content: "\263E";
		}
	}
}

.bloc{
	margin: 3em 0;
	span{
		font-size: 1.2em;
		color: $violet;
		font-family: 'Exo', sans-serif;
		font-weight: 500;
		letter-spacing: 0.2em;
	}
}
form{
	max-width: 600px;
	margin: 0 auto;
}

/*Articles*/
.images-liens div, figure.liens{
	overflow: hidden;
	h3,h4{transition: .8s cubic-bezier(0.215, 0.61, 0.355, 1);
		&:hover{letter-spacing: 0.18em;}
	}
	img{
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .8s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition: .8s cubic-bezier(0.215, 0.61, 0.355, 1);
		&:hover{
			-webkit-transform: scale(1.05);
			transform: scale(1.05);
		}
	}
}
.back{
	margin: 1em 0;
	font-family: 'Exo', sans-serif;
	font-size: 1.1em;
	letter-spacing: 0.2em;
	text-align: left;
	a{color: $violet;}
}

figure.cycle{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	h3{margin-top: 0;}
	svg{
		width: 120px;
	}
}

.footer{margin-top: auto;}
footer,{
	text-align: center;
	min-height: 70px;
	max-width: 1300px;
	margin: 0 auto;
	margin-top: 2em;
	margin-bottom: 1em;
	font-family: 'Exo', sans-serif;
	font-size: 1.1em;
	letter-spacing: 0.2em;
	img{max-width: 600px;}
	div{
		flex-direction: row;
		display: flex;
		justify-content: space-around;
		a{
			color: $violet;
			transition: all ease-out 0.8s;

		}
	}
}
