---

---

$violet: #321346;
$violetclair: #F9F0FF;
$font:#626262;
$body-font:'PT serif', serif;

html{
	scroll-behavior: smooth;
}
body{
	color: $font;
	font-family: $body-font;
	line-height: 1em;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	p{line-height: 1.8em;}
}

.container{display: flex;flex-direction: column;}

a{color: $violet; text-decoration: underline;font-weight: 600;}
a:hover{text-decoration: none;color: $violet;font-weight: 600;}

.landing{
	background-color: $violet;
	height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	img{
		width: 50%;}
}

h1,h2,h3,h4,h5,span.h2{color:$violet;margin-top:2em;text-align: center;font-family: 'Exo', serif; letter-spacing: 0.15em; text-transform: uppercase;}
h2{position: inherit;}
.entete{
	margin: 0 auto;
	max-width: 575px;
	position:relative;
	span.h2{z-index: 0;padding: 0 1em;}
	.line{
		background: linear-gradient(to bottom, $violet 50%, transparent 0);
		height: 1px;
		z-index: -1;
		position:absolute;
		width: 100%;
		margin-top: 8px;
	}
}

h2.title{margin-top: 0.2em;}
h4{margin: 1.2em 0;}
h5{font-size: 1.1em; text-align: left;}

.logo{
	display: flex;
	justify-content: center;
	margin: 1em 0;
	svg{max-width: 220px;}
}

.white svg{fill: #fff;}

.scroll{display: flex;flex-direction:column;justify-content: center;}
.box{
	max-width: 1300px;
	display: flex;
	flex-direction: column;
	align-self:center;
}

.container{
	max-width: 950px;
}

.navbar-expand-lg .navbar-nav{
	justify-content:space-evenly;
	flex-grow:1;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
	text-transform: uppercase;
	font-family: 'Exo', sans-serif;
	margin-right: 0.2em;
	color: $violet;
	letter-spacing:0.15em;
	margin-bottom: 3em;
	font-weight: 300;
	text-decoration: none;
}

.nav-item, footer a{
	text-decoration: none;
	font-weight: 300;
	padding:0.5em 0.2em;
	background:
     linear-gradient(
       to bottom, #fff 0%,
       #fff 100%
     );
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
	&:hover{font-weight: 300;}
}

.active{
	text-decoration: none;
	background:
		linear-gradient(
		to bottom, $violet 0%,
		$violet 100%
	);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	padding:0.5em 0;
}

.nav-item:hover, .nav-item:focus, footer a:hover, footer a:focus,
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	background:
     linear-gradient(
       to bottom, $violet 0%,
       $violet 100%
     );
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 50px;
}

span.h2{
	font-size: 0.8em;
	background-color: #fff;
}
h2:after{
	content: url('img/h2.svg');
	display: block;
	margin: 0 auto;
	max-width: 602px;
}

a.title-a {text-decoration: none;}
h3{font-size: 1.6em;}
h3:after{
	content: url('img/h3.svg');
	display: block;
	margin: 0 auto;
	width: 100px;
}
p{line-height: 1.8em;font-size: 1.1em;}
.strong{
	margin: 1.5em 0;
	text-align: center;
	span{
		font-family: 'Exo', sans-serif;
		font-size: 1.2em;
		background-color: $violet;
		color: #fff;
		padding: 0 2em;
		line-height: 1.5em;
		}
}

.bg{
	font-family: 'Exo', sans-serif;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.2em;
	margin-bottom: 1em;
	.txt{display: grid;align-self: center;}
	.text-upp{
		display: grid;
		align-content: center;
		margin: 0.5em 0;
		p{
		line-height: 1.1em;
		font-size: 1.2em;
		margin: 0;
		font-weight: 400;
		&.big{
			font-weight: 500;
			font-size: 1.5em;
			}
		&.sobig{font-size: 2em;font-weight: 500; color: $violet;}
		}
	}
}

.violet{
	background-color: $violet;
	color: #fff;
}

.clair{
	background-color: $violetclair;
	margin-top: 2em;
	color: $violet;
	img{max-height: 150px; padding: 0 2em;}
}

.padding0{padding: 0;}
.padding2{padding: 2em;}

a.button, input.button{
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	width: max-content;
	justify-self:center;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Exo', sans-serif;
	margin-top: 1em;
	padding:0.5em 1em;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	font-weight: 300;
	&:hover, &:focus, &:focus-within{
		text-shadow: none;
		text-decoration: none;
		padding:0.5em 1.5em;
		font-weight: 300;
	}
	&.dark{
		border: 2px solid $violet;
		color: $violet;
		&:hover{
			color: #fff !important;
			background:
				linear-gradient(
			       to bottom, $violet 0%,
			       $violet 100%
			     );
		}
	}
	&.light{
		border: 2px solid #fff;
		color: #fff;
		&:hover{
			color: $violet !important;
			background:
				linear-gradient(
			       to bottom, #fff 0%,
			       #fff 100%
			     );
			}
	}
	&.bio{font-weight: 500; margin: 0 auto; margin-bottom: 1.4em;}
}

input.button{
	background-color:#fff;
}

p > a.link{
	color:$violet;
	font-weight: 300;
	text-decoration: none;
	padding:0.2em 0.2em;
	background:
     linear-gradient(
       to bottom, $violet 0%,
       $violet 100%
     );
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

p > a.link:hover,
p > a.link:focus {
   color: #fff;
   background-size: 4px 50px;
   font-weight: 300;
}

ul{
	list-style: none;
	li{
		line-height: 1.2em;
		font-size: 1.1em;
		margin: 1em 0;
		a, a:hover{font-weight: 300;}
		&.list:before{
			display: inline-block;width: 1em;content: "\263E";
		}
	}
}
figure{text-align: center;}
figure figcaption{
	font-family: 'Exo', sans-serif;
	font-size: 1.4em;
	color:$violet;
	text-align: center;
	margin-top: 0.5em;
}

a.footnote{font-weight: 700; color: $violet;text-decoration: underline;}
.sources, .footnotes{
	margin-top: 1em;
	h4{
		font-family: 'Exo', sans-serif;
		font-size: 1.4em;
		color:$violet;
		text-align: left;
	}
	a{
		color: $violet;
		text-decoration: underline;
		transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
		line-height: 1em;
		font-size: 1em;
		&:hover{
			letter-spacing: 0.02em;
		}
	}
	p{margin: 0;}
}

.info{
	font-family: 'Exo', sans-serif;
	font-size: 1.5em;
	justify-content: center;
	line-height: 1.2em;
	padding:0.2em 0.2em 0.7em 0.2em;
	min-height: 2em;
}
.error{
	color: $violet;
	display: none;
	&:before, &:after{
		content: url('img/fail.svg');
		display: inline-block;
		width: 30px;
	}
}
.success{
	color:$violet;
	display: none;
	&:before, &:after{
		content: url('img/send.svg');
		display: inline-block;
		width: 30px;
	}
}

.reseaux li svg{
	width: 50px;
	height: 50px;
	padding:0.2em;
	transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	&:hover{
		transform: scale(1.05);
	}
}

.bloc{
	margin: 3em 0;
	text-align: center;
	span{
		font-size: 1.2em;
		color: $violet;
		font-family: 'Exo', sans-serif;
		font-weight: 500;
		letter-spacing: 0.2em;
	}
}
form{
	max-width: 600px;
	margin: 0 auto;
	input.button{margin: 0 auto;}
	margin-bottom: 2em;
	.form-control:focus{
		border-color:$violetclair;
		box-shadow:0 0 0 .2rem $violetclair;
	}
}

/*Articles*/
figure.liens{
	overflow: hidden;
	img{
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .8s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition: .8s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	h3,h4{transition: .8s cubic-bezier(0.215, 0.61, 0.355, 1);}
	&:hover{
		img{
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
		}
	}
}
.back{
	margin: 1em 0;
	font-family: 'Exo', sans-serif;
	font-size: 1.1em;
	letter-spacing: 0.2em;
	text-align: left;
	a{
		color: $violet;
		transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
		font-weight: 300;
		text-decoration: none;
		&:hover{
			font-weight: 300;
			letter-spacing: 0.25em;
		}
	}
}

figure.cycle{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	h3{margin-top: 0;}
	img{
		width: 250px;
	}
}

blockquote{
	background-color: $violet;
	border-radius: 10px;
	margin: 3em 0;
}
blockquote p{
	margin: 0 auto;
	padding:1em 0 3em 0;
	color:#fff;
	width: 90%;
	font-family: 'Exo';
	line-height: 2.1em;
}

blockquote:before{
	content: '«';
	font-size:9em;
	font-family: 'Exo';
	font-weight: 900;
	color: #fff;
	height: auto;
}

blockquote:after{
	content: '»';
	font-size:9em;
	font-family: 'Exo';
	font-weight: 900;
	color: #fff;
	float: right;
	bottom:30px;
	position:relative;
}

.cycle p{
	font-size: 1.1em;
	color: $violet;
	font-family: 'Exo';
	font-weight: 400;
}

.livres img{width: 200px;}
.biblio-list{
	margin: 2em 0;
	text-align: center;
	a{
		font-size: 1.5em;
		font-weight: 600;
		color: $violet;
		transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
		text-decoration: underline;
	}
	p{
		font-size: 1.1em;
		padding-top: 0.5em;
	}
}
.biblio-list:after{
	content: '○';
	display: block;
	font-size: 1.5em;
	margin: 1em 0 2em 0;
}
.biblio-list a:hover{letter-spacing: 0.02em;}

.biblio-next a{
	display: inline-flex;
	flex-direction: row;
	width: 100%;
	min-height: 110px;
	align-items:center;
	h4{text-align: left;font-size: 1.3em;transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; margin: 0;}
	img{width: 100px;transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;}
	p{
		font-size: 1em;
		color: $font;
		font-family: $body-font;
		text-transform: none;
		text-align: left;
		margin:0;
		}
}

.biblio-next a:hover h4{
	text-decoration: underline;
	text-decoration-color: #82618F;
	color: #82618F;
}

.biblio-next a:hover img{width: 110px;}

.interview{
	display: flex;
	flex-direction: row;
	align-content:center;
	background-color:$violet;
	border-radius:25px;
	text-align: center;
	h4{
		color: #fff;
		letter-spacing: 0.25em;
		font-size: 1.7em;
		transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
	}
	p{
	color:#fff;
	font-weight: 500;
	font-family: 'Exo';
	line-height: 1.5em;
	letter-spacing: 0.2em;
	font-size: 1.1em;
	}
	p:before{
	content: '«';
	font-size:1.5em;
	font-family: 'Exo';
	font-weight: 500;
	color: #fff;
	height: auto;
	}
	p:after{
		content: '»';
		font-size:1.5em;
		font-family: 'Exo';
		font-weight: 500;
		color: #fff;
		position:relative;
	}
	.resum{font-size: 1em;letter-spacing: 0.08em;}
	.resum:before,.resum:after{display: none;}
}

a .interview:hover{
	h4{text-decoration: underline;}
	.plante-left{left:-60px;}
	.plante-right{right:-60px;}
	}

.plante-left{
	position: absolute;
	bottom:0;
	left: -55px;
	transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.plante-right{
	position: absolute;
	bottom:0;
	right: -55px;
	transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.q{
	color:$violet;
	font-weight: 500;
	font-family: 'Exo';
	line-height: 1.8em;
	letter-spacing: 0.1em;
	font-size: 1.4em;
	margin: 2em 0 0.7em 0;
}

.pop, a:not([href]){
	text-decoration: underline dotted;
	color: $violet;

}

.center{align-items: center;}

.footer{margin-top: auto;}
footer {
	text-align: center;
	min-height: 70px;
	max-width: 1300px;
	margin: 0 auto;
	margin-top: 2em;
	margin-bottom: 1em;
	font-family: 'Exo', sans-serif;
	font-size: 1.1em;
	letter-spacing: 0.2em;
	img{max-width: 600px;}
	div{
		flex-direction: row;
		display: flex;
		justify-content: space-around;
		a{color: $violet;transition: all ease-out 0.5s;}
	}
}
@media screen and (max-width: 575px){
	.violet.padding0 img{display: none;}
	.landing img{width: 100%;}
	.txt{padding: 1em;}
	.white{display: none;}
	.interview{h4{font-size: 1.1em;}p{font-size: 1em;letter-spacing:0.2em;&:before,&:after{font-size: 1em;}}}
}

@media screen and (max-width: 991px){
	.box{align-self: auto;}
	.clair{order: 3;}
	.violet.padding0{
		order: 2;
		img{max-height: 300px; position: absolute;bottom: 0;left: 0;}
	}
	
	.interview{p{padding:0.2em;&:before,&:after{font-size: 1em;}}}
	.plante-left, .plante-right{display: none;}
	footer{margin:0;}
}

@media screen and (max-width: 1200px) {
  .landing{height: auto;}
}

@media screen and (max-width: 800px) {
  .txt{padding-right: 0.5em;}
	.bg{
	  .text-upp{
			p{
			line-height: 1em;
			font-size: 0.9em;
			&.big{font-size: 1.2em;}
			}}
		}
  footer{div{flex-direction: column;}}
}