---
subtitle: Des ateliers de rencontres pour les endométriosiques sont organisés sur Lyon.
title: Inscriptions | Cycliques
og_image: https://cycliques.fr/img/cycle.png
og_description: Cycliques est un site informatif sur l'endométriose, une maladie chronique gynécologique. Le site présente les bénéfices des médecines douces pour aider à la diminution des douleurs ainsi que la mise en place d'Ateliers autour de l'endométriose sur Lyon.
og_twitter_img : https://cycliques.fr/img/twitter-lien.png
excerpt:  Cycliques est un site informatif sur l'endométriose, une maladie chronique gynécologique. Le site présente les bénéfices des médecines douces pour aider à la diminution des douleurs ainsi que la mise en place d'Ateliers autour de l'endométriose sur Lyon.
---
{% include head.html %}

    {% include nav.html %}
	<div class="container">
		<div class="row">
			<div class="col-sm text-center">
					<div class="bg violet">
						<div class="col-sm-10 offset-sm-1 txt padding2">
							{% include preinscription.html %}
						</div>
					</div>
				<!-- <div class="entete">
					<div class="line"></div>
					<span class="h2">Inscription</span>
				</div>
    			<h2 class="title">Inscription Atelier</h2> -->
			</div>
		</div>
	</div>



    {% include footer.html %}