---
layout: default
title: Merci !
og_image: /assets/images/cycle.png
og_twitter_img : https://cycliques.fr/assets/images/twitter-lien.png
---

<div class="container">
  <p>Merci de ton inscription à ma newsletter !</p>
  <p>Tu peux me suivre sur Instagram pour être au courant de toutes les actus :</p>
  {% include button-newsletter.html %}
  <p>Si tu veux en savoir plus sur notre contenu, voici tous nos articles présents sur le site :</p>
  {% assign sorted_articles = site.pages | sort: 'order' %}
  <div class="articles">
    {% for p in sorted_articles %}
      {% if p.category == "Le savoir c'est le pouvoir" or p.category == "Reprends le contrôle" %}
          <a href="{{ p.url }}" class="index-articles">
            <figure class="liens">
              <img src="/assets/images/articles/{{ p.og_image }}" class="img-fluid" alt="{{ p.alt_img }}" title="{{ p.title_img }}">
              <figcaption class="bleu">
                <h4 class="h4-link">{{ p.title }}</h4>
              </figcaption>
            </figure>
          </a>
      {% endif %}
    {% endfor %}
  </div>
</div>