---
layout: default
title: Merci !
---

<div class="container">
  <p class="dinomik">Merci de ton inscription à ma newsletter ! Tu peux me suivre sur Instagram pour être au courant de toutes les actus :</p>
  {% include button-newsletter.html %}
  <a href="/index.html" class="button btn-rouge">Retour à l'accueil</a>
  <p class="dinomik">Si tu veux en savoir plus sur notre contenu, voici tous les articles présents sur le site :</p>
  {% assign sorted_articles = site.pages | sort: 'order' %}
  <div class="row articles-lies">
    {% for p in sorted_articles %}
      {% if p.category == "Le savoir c'est le pouvoir" or p.category == "Reprends le contrôle" %}
          <a href="{{ p.url }}" class="articles-list">
            <img src="/assets/images/articles/{{ p.og_image }}">
            <div>
              <h4 class="h4-link">{{ p.title }}</h4>
              <p>{{ p.subtitle }}</p> 
            </div>
          </a>
      {% endif %}
    {% endfor %}
  </div>
</div>