---
---
{% include head.html %}

    {% include nav.html %}
	<div class="container">
		<div class="row">
			<div class="col-sm text-center">
				<div class="entete"></div>
				<span class="h2">Reprends le contrôle</span>
    			<h2 class="title">Articles</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<a href="">
					<img src="">
					<h3>Le mouvement pour assouplir les adhérences</h3>
				</a>
			</div>
			<div class="col-sm-6">
				<a href="">
					<img src="">
					<h3>L'alimentation</h3>
				</a>
			</div>
			<div class="col-sm-6">
				<a href="">
					<img src="">
					<h3>Les médecines douces</h3>
				</a>	
			</div>
		</div>
	</div>
    {% include footer.html %}