<div class="row share text-center">
  <div class="col-lg-12 ">
    <p>Pour suivre les nouvelles sorties, inscris-toi à la newsletter</p>
    <a href="/contact/newsletter.html" class="button dark bio">Newsletter</a>
    <p>Suis les nouvelles sorties sur les réseaux sociaux :</p>
    <a href="https://www.instagram.com/endonymous/" class="rs-link"><img src="/assets/images/svg/instagram.svg"></a>
    <a href="https://www.facebook.com/Endonymous-162022987832317/" class="rs-link"><img src="/assets/images/svg/facebook.svg"></a>
    <p>Si tu  as aimé ce blog, partage- le !</p>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url }}" class="rs-share"><img src="/assets/images/svg/share-facebook.svg"></a>
    <a href="https://twitter.com/share?url={{ page.url }}&text=Un%20roman%20graphique%20sur%20l'endométriose&via=Endonym0us" class="rs-share"><img src="/assets/images/svg/share-twitter.svg"></a>
    <a href="mailto:?body={{ page.url }}" class="rs-share"><img src="/assets/images/svg/share-email.svg"></a>
  </div>
  <div class="col-lg-12">
    <img src="/assets/images/svg/share.svg">
  </div>
</div>