<div class="row">
  <div class="col-sm text-center">
      <div class="row bg violet">
        <div class="col-sm-5 offset-sm-1 txt padding2">
          <div class="text-upp">
          	<p>Inscris-toi à notre</p>
          	<p class="big">newsletter.</p>
          </div>
          <a href="/contact/newsletter.html" class="button light bio">Newsletter</a>
        </div>
        <div class="col-sm-5 txt padding2">
          <div class="text-upp">
            <p>Ou suis-nous sur</p>
            <p class="big">Instagram</p>
            <a href="https://www.instagram.com/cycliques/" class="button light bio">Instagram</a>
          </div>
        </div>
      </div>
  </div>
</div>