<div class="column share">
  <h3>Suis-moi sur les réseaux :</h3>
  <div>
    <a href="" class="rs-link"><img src="/assets/images/svg/send.svg"></a>
    <a href="https://www.instagram.com/endonymous/" class="rs-link"><img src="/assets/images/svg/instagram.svg"></a>
    <a href="https://www.facebook.com/Endonymous-162022987832317/" class="rs-link"><img src="/assets/images/svg/facebook.svg"></a>
  </div>
  <h3 class="rouge">Partage ce blog :</h3>
  <div>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url }}" class="rs-share"><img src="/assets/images/svg/share-facebook.svg"></a>
    <a href="https://twitter.com/share?url={{ page.url }}&text=Un%20roman%20graphique%20sur%20l'endométriose&via=Endonym0us" class="rs-share"><img src="/assets/images/svg/share-twitter.svg"></a>
    <a href="mailto:?body={{ page.url }}" class="rs-share"><img src="/assets/images/svg/share-email.svg"></a>
  </div>
</div>