<style>
@font-face {
  font-family: 'helsinkiregular';
  src: url('/assets/fonts/helsinki-webfont.eot');
  src: url('/assets/fonts/helsinki-webfont.woff') format('woff'),
        url('/assets/fonts/helsinki-webfont.svg#helsinkiregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Dinomik';
    src: url('/assets/fonts/Dinomik.woff2') format('woff2'), /* Modern Browsers */
         url('/assets/fonts/Dinomik.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: DinomikBold */@font-face {
    font-family: 'Dinomik';
    src: url('/assets/fonts/Dinomik-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('/assets/fonts/Dinomik-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
</style>
