<div class="row bg">
    <div class="col-sm-6">
      <div class="baseline">
        <p>Le roman graphique</p>
        <span>qui parle</span>
        <p class="endo">d'endométriose</p>
      </div>
      <img src="/assets/roman-graphique/index-endonymous.png" class="img-fluid">
    </div>
    <div class="col-sm-6">
      <div>
        <a href="/roman-graphique/partie-1-le-deni.html" class="lien-bd">
          <figure class="bd">
            <img src="/assets/roman-graphique/articles/partie1-deni.png" class="img-fluid">
            <h4>Partie 1 Le Déni</h4>
            <figcaption class="img-dark-hover version-b">Lire</figcaption>
          </figure>
        </a>
      </div>
    </div>
  </div>