<div class="landing bg scroll container-fluid" id="splash">
	<div class="intern row">
		<div class="col-lg-6 decal">
			<img src="/img/endobujo/endobujo-accueil.png" class="img-fluid" alt="EndoBujo bullet journal carnet note agenda endométriose" title="EndoBujo">
		</div>
		<div class="txt text-accueil col-lg-6">
			<div class="text-upp">
				<p class="big">L'endobujo</p>
				<p>est un carnet de note spécialement pensé</p>
				<p class="big">pour les personnes atteintes d'endométriose.</p>
			</div>
			<div class="logo">
				<a href="#index"><img src="/img/endobujo/logoblanc.svg"></a>
			</div>
		</div>
	</div>
</div>
