<div class="landing bg scroll" id="splash">
	<img src="/img/illustration.png" class="img-fluid">
	<div class="txt violet">
		<div class="text-upp">
			<p>Cycliques est un site web d'information</p>
			<p class="big">sur l'endométriose.</p>
		</div>
		<div class="text-upp">
			<p class="big">Il propose des ateliers à la journée sur lyon</p>
			<p>pour vous donner des clefs de bien-être malgré la maladie.</p>
		</div>
		<div class="text-upp">
			<p>Ces ateliers sont une aide à la sensibilisation et peuvent vous permettre de</p>
			<p class="big">reprendre le contrôle d'être engagée dans votre bien-être.</p>
		</div>
		<div class="logo white">
			<a href="#index">{% include svg/logoblanc.svg %}</a>
		</div>
	</div>
</div>
