<nav {% if page.category == 'Roman graphique' %} class="no-stick" {% endif %}>
  <div class="nav-mobile">
    <a href="/index.html" class="logo">
      <img src="/assets/images/logo-mini.svg" width="35" height="35">
    </a>
    <label for="toggle">☰</label>
  </div>
  <input type="checkbox" id="toggle">
  <div class="nav-desktop">
    <a class="{% if page.url == '/' %}active{% endif %}" href="/index.html">Accueil</a>
    <ul class="dropdown">
      <li><a href="/roman-graphique/endometriose.html" class="{% if page.url == '/roman-graphique/endometriose.html' %} active{% endif %} coucou">Roman graphique</a>
        <ul class="dropdown-content">
          <li><a href="/roman-graphique/partie-1-le-deni.html">Partie 1</a></li>
          <li><a href="/roman-graphique/partie-2-le-choc.html">Partie 2</a></li>
          <li><a href="/roman-graphique/partie-3-la-colere.html">Partie 3</a></li>
          <li><a href="/roman-graphique/partie-4-l-operation.html">Partie 4</a></li>
          <li><a href="/roman-graphique/partie-5-le-handicap.html">Partie 5</a></li>
          <li><a href="/roman-graphique/partie-6-la-peur.html">Partie 6</a></li>
          <li><a href="/roman-graphique/partie-7-la-depression.html">Partie 7</a></li>
        </ul>
      </li>
    </ul>
    <a class="{% if page.url == '/savoir/savoir.html' %}active{% endif %}" href="/savoir/savoir.html">Le savoir c'est le pouvoir</a>
    <a class="{% if page.url == '/controle/controle.html' %}active{% endif %}" href="/controle/controle.html">Reprends le contrôle</a>
    <a class="{% if page.url == '/contact.html' %}active{% endif %}" href="/contact/contact.html">Contact</a>
  </div>
</nav>