---
---
{% include head.html %}

    {% include nav.html %}
	<div class="container">
		<div class="row">
			<div class="col-sm text-center">
				<div class="entete"></div>
				<span class="h2">Le savoir c'est le pouvoir</span>
    			<h2 class="title">Articles</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<a href="">
					<img src="">
					<h3>Comment fonctionne le cycle ?</h3>
				</a>
			</div>
			<div class="col-sm-6">
				<h3>Les phases du cycle, une question d'hormones</h3>
			</div>
			<div class="col-sm-6">
				<a href="/pages/savoir/endometriose.html">
					<img src="">
					<h3>Qu'est-ce que l'endométriose ?</h3>
				</a>
			</div>
			<div class="col-sm-6">
				<h3>Adénomyose</h3>
			</div>
			<div class="col-sm-6">
				<h3>Les adhérences</h3>
			</div>
		</div>
	</div>
    {% include footer.html %}