---
layout: default
title: Roman graphique
og_image: /assets/images/cycle.png
og_twitter_img : https://cycliques.fr/assets/images/twitter-lien.png
---
<div class="container">
  {% assign sorted_articles = site.pages | sort: 'order' %}
  <div class="articles">
    {% for p in sorted_articles %}
      {% if p.category == page.title %}
          <a href="{{ p.url }}" class="index-articles">
            <figure class="liens">
              <img src="/assets/roman-graphique/articles/{{ p.og_image }}.png" class="img-fluid" alt="{{ p.alt_img }}" title="{{ p.title_img }}">
              <figcaption class="jaune">
                <h4 class="h4-link">{{ p.title }}</h4>
              </figcaption>
            </figure>
          </a>
      {% endif %}
    {% endfor %}
  </div>
</div>