---
layout: default
---

<div class="container">
  <div class="row bd-mini">
    {% assign previous-bd = site.pages | where: "category", "Roman graphique" | reverse %}
    {% for p in previous-bd %}
      {% if p.chapter < page.chapter %}
        <a href="{{ p.url }}" class="liens-bd-mini">
          &larr;<img src="/assets/roman-graphique/articles/{{ p.og_image }}.png">{{ p.title }}
        </a>
        {% break %}
      {% endif %}
    {% endfor %}
    {% include back.html variable="aux autres parties" %}
  </div>
  {{ content }}
  {% include back.html variable="aux autres parties" %}
  {% assign previous-bd = site.pages | where: "category", "Roman graphique" %}
    {% for p in previous-bd %}
      {% if p.chapter > page.chapter %}
      <h3>Épisode suivant</h3>
        <div class="articles">
          <a href="{{ p.url }}" class="index-articles">
            <figure class="liens">
              <img src="/assets/roman-graphique/articles/{{ p.og_image }}.png" class="img-fluid">
              <figcaption class="jaune">
                <h4 class="h4-link">{{ p.title }}</h4>
              </figcaption>
            </figure>
          </a>
        </div>
        <p class="dinomik">{{ p.excerpt }}</p>
        <p>{{ p.publish_date }}</p>
        <a href="/roman-graphique/endometriose.html">Roman graphique</a>
        {% break %}
      {% endif %}
    {% endfor %}
  <h2>Qui suis-je ?</h2>
  <div class="row presentation">
    <img src="/assets/images/photos/profil-isa.png" max-width="350" max-height="320">
    <div>
      <h4>Isabelle</h4>
      <p class="dinomik">Diagnostiquée en 2016 d'une endométriose, j’ai passé les dernières années à me reconstruire après une opération et des effets secondaires dus à la prise d’hormones. Je crée en 2018 mon blog sur l'endométriose avec la parution d’un roman graphique, qui raconte le retard de mon diagnostic et le manque de prise en charge de ma maladie. Après des années d’apprentissage pour mieux vivre avec l’endométriose, j’avais à cœur de mettre à disposition toutes mes connaissances accumulées.</p>
    </div>
  </div>
  {% include button-newsletter.html %}
</div>
