---
layout: default
---

<div class="container content-dico">
  <div class="dico-block">
    <div class="dico">
      {% for p in site.pages %}
        {% if p.subcategory == 'Endodico' %}
        <div class="icone-dico {% if p.url == page.url %} glass {% endif %}">
          <a href="{{ p.url }}">{{ p.title }}</a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="dico-definition">
      <div class="entete">
        <span class="h2">{{ page.category }}</span>
        <h2 class="title">{{ page.title }}</h2>
      </div>
      {{ content }}
    </div>
  </div>
  {% include back.html variable="aux articles" %}
  {% include front-bd.html %}
  {% include button-newsletter.html %}
</div>