---
layout: default
---

<div class="container">
  <div class="entete">
      <img src="/assets/images/svg/icones/think2.svg" alt="{{ page.alt_img }}" title="{{ page.title_img }}" width="45" height="45">
      <span class="h2">{{ page.category }}</span>
      <h2 class="title">{{ page.title }}</h2>
  </div>
  <img src="/assets/images/articles/{{ page.og_image }}" alt="{{ page.alt_img }}" title="{{ page.title_img }}" width="475" height="350">
  {% include back.html variable="aux témoignages" %}
  <p class="dinomik">{{ page.subtitle }}</p>
  <div class="content-interview">
    {{ content }}
  </div>
  {% include back.html variable="aux témoignages" %}
</div>
