---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-sm text-center">
      <div class="entete">
        <div class="line"></div>
        <span class="h2">{{ page.category }}</span>
      </div>
        <h2 class="title">{{ page.theme }}</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      {% include back-interview.html %}
      <div class="interview">
        <div class="row">
          <div class="col-lg-4 order-md-1">
            <img src="/img/interview/left.png" class="plante-left img-fluid">
            <img src="{{ page.og_image }}" class="img-fluid">
          </div>
          <div class="col-lg-7 order-md-3">
            <h4>{{ page.title }}</h4>
            <p class="resum">{{ page.subtitle }}</p>
          </div>
          <div class="col-lg-1 order-2 order-lg-3">
            <img src="/img/interview/right.png" class="plante-right">
          </div>
        </div>
      </div>
      {{ content }}
      {% include back-interview.html %}
    </div>
  </div>
  {% include addthis.html %}
</div>
