---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-sm text-center">
      <div class="entete">
        <div class="line"></div>
        <span class="h2">{{ page.category }}</span>
      </div>
        <h2 class="title">{{ page.theme }}</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      {% include back.html variable="aux témoignages" %}
      <div class="interview">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <img src="/img/interview/left.png" class="plante-left img-fluid">
            <img src="{{ page.og_image }}" class="img-fluid">
          </div>
          <div class="col-lg-6 col-sm-7">
            <h4>{{ page.title }}</h4>
            <p class="resum">{{ page.subtitle }}</p>
          </div>
          <div class="col-lg-1 offset-lg-1 order-2 order-lg-3">
            <img src="/img/interview/right.png" class="plante-right">
          </div>
        </div>
      </div>
      <div class="deco-mini"><img src="/img/interview/plante.svg"></div>
      {{ content }}
      {% include back.html variable="aux témoignages" %}
    </div>
  </div>
</div>
