---
subtitle: Pourquoi l'alimentation anti-inflammatoire est utile en cas d'endométriose.
title: L'alimentation
og_image: /img/alimentation2.png
og_twitter_img : https://cycliques.fr/img/twitter-lien.png
previous: /controle/controle.html
articles:
  - /savoir/endometriose.html
  - /savoir/adherences.html
---
{% include head.html %}

	{% include nav.html %}
	<div class="container">
		<div class="row">
			<div class="col-sm text-center">
				<div class="entete">
					<div class="line"></div>
					<span class="h2">Reprends le contrôle</span>
				</div>
    			<h2 class="title">L'alimentation anti-inflammatoire</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<img src="/img/alimentation2.png" class="img-fluid" alt="femme mange pomme" title="Femme allongée mangeant une pomme">
			</div>
			{% include back.html %}
			<div class="col-sm-12">
				<h3>Comprendre le phénomène inflammatoire</h3>
				<p>Le phénomène inflammatoire est la conséquence d’une agression externe ou de la présence interne d’un corps étranger. Dans le cas de l’endométriose, c’est lorsque certaines lésions d’endométriose vont effectuer des micro-saignements en fonction du cycle hormonal que le sang va se retrouver coincé dans la cavité péritonéale et entraîner un phénomène inflammatoire, pouvant à son tour entraîner l’apparition d’adhérences.</p>
				<p>La douleur en elle même n’est donc pas causée par l’inflammation mais ce sont ses effets sur le long terme avec les adhérences qui peuvent devenir douloureux. Pour limiter cet effet, il peut être intéressant de suivre un régime anti-inflammatoire qui va aider à diminuer ce phénomène inflammatoire.</p>

				<h3>Le rôle de l’alimentation</h3>
				<p>Le régime alimentaire va jouer un rôle important pour des personnes sujettes à des inflammations chroniques car les bactéries digestives qui tapissent notre intestin peuvent varier en fonction de la nourriture que nous consommons. Certains aliments vont favoriser le développement de bactéries qui vont stimuler l’inflammation, tandis que d’autres vont contribuer à la croissance de bactéries diminuant l’inflammation.</p>
				<h3>Alimentation inflammatoire</h3>
				<p>Il s’agit d’aliments en général mauvais pour notre santé tels que les sucres raffinés (sucre, farine blanche, riz blanc et les produits à base de ces aliments), la viande rouge et les viandes transformées (séchées, fumées,…) ainsi que les produits laitiers (particulièrement à base de lait de vache).</p>
				<h3>Alimentation anti-inflammatoire</h3>
				<ul>
					<li class="list">Fruits et Légumes</li>
					<li class="list">Herbes et Épices</li>
					<li class="list">Huile d’olive vierge</li>
					<li class="list">Noix et graines</li>
					<li class="list">Poissons et omégas-3</li>
					<li class="list">Céréales complètes</li>
					<li class="list">Légumineuses</li>
					<li class="list">Café, thé, chocolat noir</li>
				</ul>
			</div>
			<div class="col-sm-10 offset-sm-1 sources">
        <span>Sources</span>
        <ul>
          <li class="list"><a href="https://www.health.harvard.edu/staying-healthy/foods-that-fight-inflammation">Harvard Health Publishing : Foods that fight inflammation, 2018.</a></li>
          <li class="list"><a href="https://www.health.harvard.edu/healthy-eating/fighting-inflammation-at-the-meal-table">Harvard Health Publishing : Fighting inflammation at the meal table, 2017</a></li>
          <li class="list"><a href="https://www.aarp.org/health/conditions-treatments/info-2019/diets-for-lowering-inflammation.html">Diets for lowering inflammation, 2019</a></li>
        </ul>
      </div>
			{% include back.html %}
		</div>
		{% include articles.html %}
	</div>
    {% include footer.html %}
