---
subtitle: Des ateliers de rencontres pour les endométriosiques sont organisés sur Lyon.
title: Reprends le contrôle | Cycliques
og_image: https://cycliques.fr/img/cycle.png
og_description: Cycliques est un site informatif sur l'endométriose, une maladie chronique gynécologique. Le site présente les bénéfices des médecines douces pour aider à la diminution des douleurs ainsi que la mise en place d'Ateliers autour de l'endométriose sur Lyon.
og_twitter_img : https://cycliques.fr/img/twitter-lien.png
excerpt:  Cycliques est un site informatif sur l'endométriose, une maladie chronique gynécologique. Le site présente les bénéfices des médecines douces pour aider à la diminution des douleurs ainsi que la mise en place d'Ateliers autour de l'endométriose sur Lyon.
---
{% include head.html %}

    {% include nav.html %}
	<div class="container">
		<div class="row">
			<div class="col-sm text-center">
				<div class="entete">
					<div class="line"></div>
					<span class="h2">Reprends le contrôle</span>
				</div>
    			<h2 class="title">Articles</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row images-liens">
			<div class="col-sm-6">
				<a href="/controle/mouvements.html">
					<figure class="liens">
						<img src="/img/yoga2.png" class="img-fluid" alt="femme yoga" title="Femme sur tapis de Yoga">
						<h3>Endométriose : Rester en mouvement</h3>
					</figure>
				</a>
			</div>
			<div class="col-sm-6">
				<a href="/controle/alimentation.html">
					<figure class="liens">
						<img src="/img/alimentation2.png" class="img-fluid" alt="femme mange pomme" title="Femme allongée mangeant une pomme">
						<h3>L'alimentation anti-inflammatoire</h3>
					</figure>
				</a>
			</div>
			<div class="col-sm-6">
				<a href="/controle/meddouces.html">
					<figure class="liens">
						<img src="/img/automassage.png" class="img-fluid" alt="femme automassage" title="Femme s'automassant le ventre">
						<h3>Endométriose : Les médecines douces</h3>
					</figure>
				</a>
			</div>
		</div>
	</div>
    {% include footer.html %}