---
subtitle: Quelques médecines douces qui peuvent aider à la diminution des douleurs en cas d'endométriose.
title: Les médecines douces
og_image: /img/automassage.png
og_description: Cycliques est un site informatif sur l'endométriose, une maladie chronique gynécologique. Le site présente les bénéfices des médecines douces pour aider à la diminution des douleurs ainsi que la mise en place d'Ateliers autour de l'endométriose sur Lyon.
og_twitter_img : https://cycliques.fr/img/twitter-lien.png
excerpt:  Cycliques est un site informatif sur l'endométriose, une maladie chronique gynécologique. Le site présente les bénéfices des médecines douces pour aider à la diminution des douleurs ainsi que la mise en place d'Ateliers autour de l'endométriose sur Lyon.
previous: /controle/controle.html
articles:
  - /savoir/endometriose.html
  - /controle/mouvements.html
---
{% include head.html %}

    {% include nav.html %}
	<div class="container">
		<div class="row">
			<div class="col-sm text-center">
				<div class="entete">
					<div class="line"></div>
					<span class="h2">Reprends le contrôle</span>
				</div>
    			<h2 class="title">Endométriose : Les médecines douces</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<img src="/img/automassage.png" class="img-fluid" alt="femme automassage" title="Femme s'automassant le ventre">
			</div>
			{% include back.html %}
			<div class="col-sm-12">
				<p>Comme vu dans l’article sur les <a href="/savoir/adherences.html" class="link">adhérences</a>, la présence de lésions d’endométriose et les adhérences dues aux phénomènes inflammatoires peuvent petit à petit <b>immobiliser les viscères</b>, soit en faisant peu à peu <b>perdre leur mobilité aux tissus</b>, soit en accolant des organes entre eux. Tout tissu élastique qui s’immobilise va se rétracter à son tour et devenir douloureux, c’est ainsi que <b>l’immobilité d’une zone peut se propager aux autres</b>.</p>
				<p>Pour certaines atteintes très avancées, on va parler de frozen pelvis, lorsque les <a href="/savoir/adherences.html" class="link">adhérences</a> vont jusqu’à modifier l’anatomie pelvienne et immobiliser le bassin causant des douleurs et des <b>affections gynécologiques, urologiques et intestinales</b>.</p>
				<p>Avant d’en arriver là, il est important de rappeler qu’il faut continuer à bouger et <b>mobiliser le bassin</b>, ce qui n’est pas chose aisée avec des douleurs et un travail de bureau par exemple. Si les douleurs sont trop importantes, il peut être intéressant de recourir à quelques séances de <b>médecines douces</b> pour permettre de soulager ces douleurs et/ou de mobiliser les zones pelviennes. Attention, il ne s’agit pas de pratiques médicales et elles ne peuvent se substituer à un suivi médical : il s’agit de <b>pratiques complémentaires</b>.</p>

				<h3>Ostéopathie</h3>
				<p>L'<b>ostéopathi</b>e est une pratique manuelle de manipulation <b>musculo-squelettique</b> mais également <b>viscérale</b>. Elle vise à lever des blocages le plus souvent articulaires mais cette pratique vise également à <b>redonner de la mobilité aux viscères et aux tissus</b>. Elle a donc son utilité en cas de douleurs gynécologiques et particulièrement dans le cas de l’endométriose puisqu’elle va permettre <b>d’assouplir les adhérences et de libérer des blocages</b>. L'ostéopathe peut également <b>détendre le diaphragme</b> (muscle séparant le thorax de l’abdomen) qui se met souvent en tension lors de douleurs récurrentes (donc en cas d’endométriose par exemple) et peut avoir un impact sur votre respiration, digestion en cas de crispation.</p>
				<p>Cette pratique n’est pas remboursée par la sécurité sociale mais certaines mutuelles proposent le remboursement de quelques séances.</p>
				<h5>Mon expérience</h5>
				<p>Pour moi c’est une pratique essentielle qui m’a notamment aidée à diminuer les douleurs et qui m’a permis de retrouver la capacité de me mobiliser. J’avais des périodes, notamment après les règles, pendant lesquelles j’avais le bassin totalement bloqué par les adhérences, au point de ne plus pouvoir marcher. En étant immobilisée, j’aggravais mon cas car les tissus qui ne bougent pas entrainent une réaction en chaîne et font perdre leur mobilité aux tissus voisins : ils deviennent douloureux, c’est un véritable cercle vicieux. En instaurant une session d'ostéopathie par mois juste après les règles, j’ai pu prévenir cette immobilisation et redonner un peu de mouvement à mon bassin pour permettre de moins souffrir petit à petit. Depuis, j’ai pu espacer les séances. Attention, même si l'ostéopathie viscérale est douce, lorsqu’il y a beaucoup de blocages, les séances peuvent entraîner une fatigue.</p>
				<h3>Acupuncture</h3>
				<p>L'<b>acupunctur</b>e est une pratique thérapeutique qui repose sur le concept de flux d'énergie se basant sur la médecine chinoise qui théorise que la bonne circulation du Qi assure santé et équilibre. L’acupuncteur va utiliser aussi bien les aiguilles pour agir sur les <b>méridiens</b> et les organes correspondants, que le moxa, les ventouses et le massage.</p>
				<h5>Mon expérience</h5>
				<p>Je n’ai pas fait énormément de séance d’acupuncture pour donner un avis assez éclairé, je n’ai pour ma part pas adhéré à la pratique surtout parce que l’intervenant ne prenait pas assez de temps pour discuter de mes douleurs. Cela dit l’acupuncture a de bons retours général pour la gestion de la douleur et les différentes personnes qui me l’avaient conseillé avaient eu d’excellent résultats.</p>
				<h3>Shiatsu</h3>
				<p>Le <b>shiatsu</b> est une discipline japonaise manuelle énergétique et holistique de <b>pression</b> avec les doigts sur les méridiens. Elle tient ses bases théoriques de la <b>médecine traditionnelle chinoise</b> comme l’acupuncture. C’est une technique permettant le rétablissement de la <b>circulation énergétique</b> à l'aide de pressions sur des zones précises du corps et des <b>étirements</b>.</p>
				<h5>Mon expérience</h5>
				<p>Bon pour être honnête les séances de shiatsu ne sont pas les plus relaxantes, certains points de pression peuvent être sacrément douloureux s’il y a des blocages et les après-séances sont souvent fatiguantes. En revanche, je sentais un grand mieux quelques jours après les séances, notamment parce qu’il y a des massages abdominaux mais aussi parce que le shiatsu est également composé d'étirements et d'exercices de respiration, bref cela calmait mes douleurs abdominales et me maintenait en mouvement. Ces séances m’ont beaucoup aidées à un certain moment.</p>
				<h3>Psychologie biodynamique</h3>
				<p>La <b>psychologie biodynamique</b> est une pratique alliant <b>bien-être mental et physique</b>. Cette pratique met en avant l’idée que <b>chaque émotion, choc, frustration a une conséquence psychologique et physiologique</b> et elle s’évertue à remettre en lien <b>l’équilibre entre corps et esprit</b>. Elle permet par des <b>massages</b>, mais aussi des <b>projections mentales</b> et des <b>moments de bien-être</b> de se reconnecter à des <b>ensations corporelles et psychiques</b> et de <b>favoriser leur expression</b>.</p>
				<h5>Mon expérience</h5>
				<p>Pendant une séance de psychologie biodynamique il y a des massages et ceux-ci sont plutôt doux et agréables, c’est un avantage pour le corps car la fatigue après séance est moindre. Il s’agit d’une pratique sur du plus long terme, contrairement à une séance d'ostéopathie ou de shiatsu qui va pas mal remuer sur le coup, mais qui a plus lieu d’être de manière sporadique. La pratique est également intéressante car il s’agit d’une véritable reconnexion entre le corps et l’esprit qui peut être compliquée à faire lorsque l’on a de l’endométriose : douleur, mal-être, déni de la part du corps médical et des proches des souffrances,... J’essayais pour ma part de me déconnecter de mes sensations corporelles en évitant de penser à celles-ci et j’avais également du mal à canaliser mes émotions souvent débordantes&nbsp;; la psychologie biodynamique m’a aidée à me canaliser.</p>
				<p>J’ai apprécié de pouvoir avoir un intervenant qui prenait en compte le corps et l’esprit car je sentais que le mal-être des deux étaient intimement lié ou que l’un entraînait l’autre et je n’aurais pas eu une aide complète avec un intervenant qui n'aurait pas pris en compte ces deux facettes. Cette discipline m’a aidée à casser des schémas de pensées et de vie qui me bloquaient et me faisaient du mal. Je trouve qu’il est très intéressant d’avoir cette approche psychologique pour une maladie telle que l’endométriose, qui va décupler sur le corps le stress ou les chocs émotionnels. Pour ma part, je n’en serais pas où je suis sans le travail de mon intervenante et je la remercie énormément pour l’aide qu’elle m’a apportée.</p>
			</div>
			<div class="col-sm-10 offset-sm-1 sources">
        <span>Sources</span>
        <ul>
        	<li class="list">The doctor will see you now, Tamer Seckin MD, 2016</li>
        	<li class="list">Soulager l’endométriose sans médicaments, Stéphanie Mezerai et Sophie Pensa, 2019.</li>
          <li class="list"><a href="https://www.passeportsante.net/fr/Therapies/Guide/Fiche.aspx?doc=acupuncture_th">Passeport Santé : Acupuncture</a></li>
          <li class="list"><a href="https://sante.lefigaro.fr/sante/specialite/osteopathie/quest-ce-que-cest">Santé le figaro : Ostéopathie</a></li>
          <li class="list"><a href="https://www.reflexosteo.com/actualites/le-diaphragme-comment-l-osteopathie-agit-pour-son-fonctionnement-206">Reflexosteo : Le diaphragme, comment l'osteopathie agit pour son fonctionnement.</a></li>
        </ul>
      </div>
			{% include back.html %}
		</div>
		{% include articles.html %}
	</div>
    {% include footer.html %}