---
previous: /controle/controle.html
art1: pages/lien-endo.html
art2: pages/lien-adherences.html
---
{% include head.html %}

    {% include nav.html %}
	<div class="container">
		<div class="row">
			<div class="col-sm text-center">
				<div class="entete">
					<div class="line"></div>
					<span class="h2">Reprends le contrôle</span>
				</div>
    			<h2 class="title">L'endométriose : Rester en mouvement</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<img src="/img/yoga2.png" class="img-fluid">
			</div>
			{% include back.html %}
			<div class="col-sm-12">
				<p>L’adénomyose c’est la présence de cellules semblables à de l’endomètre, la paroi qui tapisse l’intérieur de l’utérus, au sein de la paroi du muscle de l'utérus, le myomètre. Les lésions peuvent être superficielles ou profondes et réagissent également aux hormones du cycle féminin, s’épaississant et provoquant des saignements.</p>
				<p>L’endométriose et l’Adénomyose ont des fonctionnement semblables et certaines femmes peuvent souffrir des deux maladies, mais ce n’est pas toujours le cas.</p>

				<h3>Quels sont les symptômes de l'Adénomyose ?</h3>
				<p>Les femmes souffrant d’Adényomose peuvent souffrir de douleurs liées au cycle (dysménorrhées), de règles longues et hémorragiques (ménorragies) et de saignements en dehors des règles (métrorragie).</p>
			</div>
			{% include back.html %}
		</div>
		{% include articles.html %}
	</div>
    {% include footer.html %}