---
subtitle: Pourquoi il est intéressant de rester en mouvement malgré les douleurs d'endométriose.
title: Rester en mouvement
og_image: /img/yoga.png
og_description: Cycliques est un site informatif sur l'endométriose, une maladie chronique gynécologique. Le site présente les bénéfices des médecines douces pour aider à la diminution des douleurs ainsi que la mise en place d'Ateliers autour de l'endométriose sur Lyon.
og_twitter_img : https://cycliques.fr/img/twitter-lien.png
excerpt:  Cycliques est un site informatif sur l'endométriose, une maladie chronique gynécologique. Le site présente les bénéfices des médecines douces pour aider à la diminution des douleurs ainsi que la mise en place d'Ateliers autour de l'endométriose sur Lyon.

previous: /controle/controle.html
articles:
  - /savoir/endometriose.html
  - /savoir/adherences.html
---
{% include head.html %}

    {% include nav.html %}
	<div class="container">
		<div class="row">
			<div class="col-sm text-center">
				<div class="entete">
					<div class="line"></div>
					<span class="h2">Reprends le contrôle</span>
				</div>
    			<h2 class="title">L'endométriose : Rester en mouvement</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<img src="/img/yoga2.png" class="img-fluid" alt="femme yoga" title="Femme sur tapis de Yoga">
			</div>
			{% include back.html %}
			<div class="col-sm-12">
				<p>La présence de <a href="/savoir/endometriose.html" class="link">lésions d’endométriose</a> et les <a href="/savoir/adherences.html" class="link">adhérences dues aux phénomènes inflammatoires</a> peuvent petit à petit <b>immobiliser les viscères</b>, soit en faisant peu à peu <b>perdre leur mobilité aux tissus</b>, soit en <b>accolant des organes entre eux</b>. Tout tissu élastique qui s’immobilise va se rétracter à son tour et devenir douloureux, c’est ainsi que <b>l’immobilité d’une zone peut se propager aux autres</b>.</p>
				<p>Pour certaines atteintes très avancées, on va parler de <b>frozen pelvis</b>, lorsque les <a href="/savoir/adherences.html" class="link">adhérences</a> vont jusqu’à modifier l’anatomie pelvienne et immobiliser le bassin causant des douleurs et des <b>affections gynécologiques, urologiques et intestinales</b>.</p>
				<p>Avant d’en arriver là, il est important de rappeler qu’il faut continuer à bouger et <b>mobiliser le bassin</b>, ce qui n’est pas chose aisée avec des douleurs et un travail de bureau par exemple qui peut être statique. Voici quelques pistes pour continuer de <b>bouger en douceur</b> sans se faire mal et avec peu de difficulté. Attention, dans le cadre de la pratique d’un sport, il ne faut pas hésiter à <b>demander conseil à son médecin</b>.</p>

				<h3>Respiration</h3>
				<p>La <b>respiration</b>, son amplitude et son rythme sont liés à nos <b>états mentaux</b>. Dans le cas de <a href="/savoir/endometriose.html" class="link">l’endométriose</a>, non seulement <b>les douleurs</b> mais aussi <b>le stress</b> vont participer à la <b>crispation de la zone abdominale</b>. Avec une maladie aussi douloureuse, la respiration peut-être une première étape pour aider à retrouver un peu de mouvement sur un corps très immobilisé. La respiration consciente aide à gagner un <b>meilleur sommeil, apaiser les douleurs et les états émotionnels et diminuer le stress</b>. Pour être efficace il faut pratiquer une respiration <b>abdominale</b> et non thoracique.  Il peut être intéressant de se tourner vers des applications de détente et de méditation pour être guidé.</p>
				<h3>Kinésithérapie</h3>
				<p>La <b>kinésithérapie</b>, c’est le <b>traitement par le mouvement</b>, agissant au niveau musculaire et articulaire. Les techniques qui sont utilisées permettent la <b>rééducation du mouvement</b> ainsi que de la posture du patient. Le suivi par un professionnel kinésithérapeute peut être un grand plus pour apprendre des techniques <b>mobilisant le bassin</b> et le <b>renforcement</b> et/ou <b>étirements</b> des différents <b>muscles abdominaux et dorsaux</b>. L’idée étant de garder toutes les sphères abdominale et pelvienne mobilisées pour éviter les blocages. La kinésithérapie peut également intervenir avec le <b>massage des tissus, muscles,</b> ce qui peut être intéressant pour soulager et garder en mouvement les tissus et viscères de la zone abdominale.</p>
				<h3>Yoga</h3>
				<p>Le <b>yoga</b> est la pratique d’un <b>enchaînement de postures</b> et de la <b>méditation</b> visant à apporter <b>bien-être physique et mental</b>. La pratique du yoga va permettre d’apprendre quelques <b>étirements</b> dans le but de garder une activité physique douce tout en faisant <b>travailler les muscles profonds</b>. Attention, le yoga travaille énormément sur les muscles profonds et même si cela n’en a pas l’air, la pratique peut être compliquée pour quelqu’un de peu mobile et souffrant de douleurs. Il peut être préférable de se tourner vers des <b>yogas doux</b> tels que : le <b>Hatha yoga doux</b>, le <b>Yin yoga</b>, le <b>yoga Nidra</b> (exercices de méditation et respirations).</p>
				<h3>Feldenkrais</h3>
				<p>Le méthode <b>Feldenkrais</b> est une méthode d’auto-éducation et de développement personnel qui amène à <b>prendre conscience du corps à travers le mouvement et les sensations</b> qui y sont reliées. Concrètement, il s’agit d’un <b>enchaînement doux et calme</b> de petits mouvements faciles qui permettent de <b>relâcher les tensions musculaires, corporelles et mentales</b>. Cette pratique permet de d’améliorer la <b>souplesse des articulations</b>, <b>une coordination des mouvements</b>, de <b>mobilité de la cage thoracique et du bassin</b>, de <b>flexibilité de la colonne vertébrale</b> tout en douceur. C’est une pratique bien plus douce que le yoga.</p>
				<h3>Automassages</h3>
				<p>Les <b>massages</b> ou <b>auto massages</b> ont énormément de bienfaits en plus d’assouplir à terme les cicatrices et <a href="/savoir/adherences.html" class="link">adhérences</a>. Les massages abdominaux vont stimuler l’activité intestinale et <b>faciliter la digestion</b>, <b>diminuer les ballonnements</b> et aider contre la <b>constipation</b>. Ils vont aider à apaiser et calmer.  Ils vont améliorer la <b>circulation du sang, de l’oxygène</b>. Les massages du diaphragme vont permettre de détendre un muscle important pour notre respiration et le bon déroulement de la digestion. Psychologiquement ils aident à <b>reprendre confiance en soi</b> et se sentir <b>actrice de son bien-être</b>.</p>
			</div>
			<div class="col-sm-10 offset-sm-1 sources">
        <span>Sources</span>
        <ul>
          <li class="list">Endo&Sexo Avoir une sexualité épanouie avec une endométriose, Marie-Rose Galès, 2019.</li>
          <li class="list">Endometriosis, the experts’ guide to treat, manage and live well with your symptoms, Pr Andrew Horne & Carol Pearson, 2018.</li>
          <li class="list">1001 questions & answers about Endometriosis, Dr Redwine, 2009.</li>
          <li class="list"><a href="https://fr.wikipedia.org/wiki/M%C3%A9thode_Feldenkrais">Méthode Feldenkrais</a></li>
          <li class="list"><a href="https://www.youtube.com/watch?v=1hBR2W4krKA">Youtube : Et si essayait le Feldenkrais ?</a></li>
          <li class="list"><a href="https://sante.lefigaro.fr/article/cinq-questions-pour-tout-savoir-sur-l-endometriose/">5 questions pour tout savoir sur l'endométriose</a></li>
          <li class="list"><a href="https://www.lauriannemartini.com/post/activite-physique-endometriose">Laurianne Martini : Activité physique Endométriose</a></li>
          <li class="list"><a href="http://www.feldenkrais-lyon.fr">Feldenkrais Lyon</a></li>
          <li class="list"><a href="http://www.marinemassage.com/endometriose-massage/">Marine massage</a></li>
        </ul>
      </div>
			{% include back.html %}
		</div>
		{% include articles.html %}
	</div>
    {% include footer.html %}