---
layout: articles
subtitle: Des ateliers de rencontres pour les endométriosiques sont organisés sur Lyon.
title: Témoignages et tranches de vie
category: Reprends le contrôle
og_image: temoignages.png
og_twitter_img : https://cycliques.fr/assets/images/twitter-lien.png
previous: /controle/controle.html
order: 85
articles:
  - /controle/temoigner-creer.html
  - /controle/adherences.html
publish_date: 2020-09-15
---

<div class="articles">
  {% for p in site.pages %}
    {% if p.category == "interview" %}
      <a href="{{ p.url }}" class="index-articles">
        <figure class="interview">
          <img src="/assets/images/articles/{{ p.og_image }}" class="img-fluid">
          <figcaption class="bleu">
            <h4 class="h4-link">{{ p.title }}</h4>
            <p>«&nbsp;{{ p.quote }}&nbsp;»</p>
          </figcaption>
        </figure>
      </a>
    {% endif %}
  {% endfor %}
</div>