---
layout: articles
order: 85
title: Témoignages et tranches de vie
subtitle:  Des témoignages sur la vie avec une endométriose, sur l'errance médicale et le parcours de patientes.
category: Reprends le contrôle
og_image: temoignages.png
alt_img: femme pensive endometriose emotions
title_img: Femme pensive
previous: /controle/controle.html
publish_date: 2020-09-15
---

<div class="articles">
  {% for p in site.pages %}
    {% if p.category == "interview" %}
      <a href="{{ p.url }}" class="index-articles">
        <figure class="interview">
          <img src="/assets/images/articles/{{ p.og_image }}" class="img-fluid">
          <figcaption class="bleu">
            <h4 class="h4-link">{{ p.title }}</h4>
            <p>«&nbsp;{{ p.quote }}&nbsp;»</p>
          </figcaption>
        </figure>
      </a>
    {% endif %}
  {% endfor %}
</div>